<div class="wrapper">

    <div ui-view="navigation"></div>
    <div class="content-wrapper " style="background: #F4F4F6;height: 150%;" ng-init="initUpdateService()">
        <div class="col-md-11 col-sm-11 panel table-box">
            <div class="panel-body heading" style="background:#445377;color: white;margin-top: inherit;height: 40px;">
                <label style="font-size: 18px;font-weight: 100;padding: 5px 15px">Update Service</label>
            </div>
            <div class="panel-body row view">
                <section class="content bgcolor-9" ng-model="innerContent" style="margin-left: 10%;">
                    <!--This is for First Row Section-->
                    <form class="updateform"  ng-submit=updateService(updateform,service)>
                        <div class = "row">
                            <div class ="col-md-6">
                                <label for="usr">Service Name<span class="asterisk">*</span>  </label>
                                <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" style="width: 50%" ng-model="service.name" placeholder="Service Name">

                            </div>
                            <div class ="col-md-6">
                                <label for="usr">Service Cost<span class="asterisk">*</span></label>
                                <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" style="width: 50%" ng-model="service.cost" placeholder="Service Cost">
                            </div>
                        </div><br>
                        <!--This is for Second Row Section-->
                        <div class = "row">
                            <div class ="col-md-6">
                                <label for="usr">Completion Time<span class="asterisk">*</span></label>
                                <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" style="width: 50%" ng-model="service.completionTime" placeholder="Completion Time">
                            </div>
                            <div class ="col-md-6">
                                <label for="usr">Description<span class="asterisk">*</span></label>
                                <textarea class="form-control ng-pristine ng-valid ng-touched" placeholder="Description" ng-model="officialAddress" style="height: 55px"></textarea>
                            </div>
                        </div>
                        <br>
                    </form>
                    <div class="row text-center" style="margin-right: 22%">
                        <button ng-disabled="commissionMsg" type="submit" class="btn saveBtn">Update</button>
                    </div>
                </section>
            </div>
        </div>

    </div>
</div>