
<div class = "wrapper">
 <div ui-view="navigation"></div>

   <div class = "content-wrapper" style="background: #F4F4F6;height: 150%;" >
  <div class="container" style="margin-left: 2%;width: 95%;">
       <!-- ------View Staff --  -->
       <div class="col-md-11 col-sm-11 panel-default">
         <div class="panel-body">
             <ul class="nav navbar-nav navbar-right" style="margin-top: 0%;">

                 <!--Icon For Add User-->
               <li style="z-index: 1000;position: relative;">
                 <a ui-sref="addSalonService" >
                   <i><img src="common/assets/images/AddBlack.png" height="50"></i>

                 </a>
               </li>


                 <!--End Of Icons-->
             </ul>
           <h1 style="text-shadow:2px 2px 9px grey;font-size: 27px">View Service</h1>
           
         </div>
       </div>

       <!--Here Start Code For Table-->
       
       <!--For Searching FIlter-->
          <div class="searchBox">
              <input type="text" class="form-control searchInput" placeholder="Search">
            </div>
         
        <div class="table-responsive" style="width: 98%;margin-left: 3px" >
          <br/>

        <table  class="table ">
           <thead>
             <tr>

                <th style="color: black;font-weight: 100;"> Service</th>
                <th style="color: black;font-weight: 100;">Cost</th>
                <th style="color: black;font-weight: 100;">Completion Time</th>
                <th style="color: black;font-weight: 100;">Action</th>

             </tr>
           </thead>

            <tbody>
              <tr ng-repeat="service in services" >
                  <td>{{service.name}}</td>
                  <td>{{service.cost}}</td>
                  <td>{{service.completionTime}}</td>
                  <td><a ng-click="gotToServiceUpdate(service.id)" class="badge badge-primary link" style="font-weight: 100;background: #445377;box-shadow: 2px 2px 8px 0px grey;">Edit</a> &nbsp <a href="#!" class="badge badge-primary" style="font-weight: 100;background: #da6f6f;box-shadow: 2px 2px 8px 0px grey;">Delete</a></td>

              </tr>
            </tbody>
        </table>
        </div>

       <!--End Of table Code-->
       </div></div>
</div>