<div class="wrapper">

    <div ui-view="navigation"></div>
    
    <div class="content-wrapper" style="background: #F4F4F6;height: 150%;">
        
        <!--Add Product Heading-->
        <div class="col-md-11 col-sm-11  panel table-box">
          <div class="panel-body" style="background:#445377;color: white;margin-top: inherit;height: 40px;">
             <label id="pageHeading" style="font-size:18px;font-weight:100;padding: 5px 15px;">Add Product</label>
          </div><br><br>
            
            <!--Code For Add Product-->
                <div class="panel-body row view">
                   <section class="content bgcolor-9" ng-model="innerContent" style="margin-left: 10%;">
                       <form class="addProduct" ng-submit=addnewProduct(addForm,serviceData)>
                       
                         <div class="row">
                           <div class="col-md-6">
                             <label for="usr">Category<span class="asterisk">*</span></label>
                               <div class="input-group">
                                 <span class="input-group-addon"><i class="fa fa-list-alt" aria-hidden="true"></i></span>
                                   
                                   <select  class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" style="width: 50%;    height: 29px;font-size: 10px !important;" ng-model="categoryId" ng-options="items of items in categoryList"></select>
                               </div>
                           </div>
                             
                             <!--Second Column-->
                             
                             <div class="col-md-6">
                                 <label for="usr">Brand<span class="asterisk">*</span></label>
                                 
                                        <div class="input-group">
                                 <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                   
                                            <select  class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" style="width: 50%;    height: 29px;font-size: 10px !important;" ng-model="brandId" options="brand of brand in brandList"></select>
                               </div>
                             </div>
                         </div><br>
                           
                           <!--Second Row-->
                             <div class="row">
                           <div class="col-md-6">
                             <label for="usr">Product Name<span class="asterisk">*</span></label>
                               <div class="input-group">
                                 <span class="input-group-addon"><i class="fa fa-list-alt" aria-hidden="true"></i></span>
                                   
                                   <select class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" style="width: 50%;    height: 29px;font-size: 10px !important;" ng-model="categoryName" ng-options="item of item in categoryName"></select>
                               </div>
                           </div>
                             
                             <!--Second Column-->
                             
                             <div class="col-md-6">
                                 <label for="usr">Product Price<span class="asterisk">*</span></label>
                                 
                                        <div class="input-group">
                                 <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                   
                                   <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" style="width: 50%;    height: 29px;font-size: 10px !important;" ng-model="categoryPrice">
                               </div>
                             </div>
                         </div><br>
                           
                           <!--Third Row-->
                            <div class="row">
                           <div class="col-md-6">
                             <label for="usr">Quantity<span class="asterisk">*</span></label>
                               <div class="input-group">
                                 <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                   
                                   <input type="number" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" style="width: 50%;    height: 29px;font-size: 10px !important;" ng-model="quantity">
                               </div>
                           </div>
                             
                            
                         </div>
                             <div class="row text-center" style="margin-right: 22%">
                       
                        <button ng-disabled="commissionMsg" type="submit" class="btn saveBtn">Save</button>

                       </div>
                           
                       </form>
                    </section>
                </div>
    
        </div>
    </div>
</div>