<div class="wrapper">
   <div ui-view = "navigation"></div>
    
    <div class="content-wrapper" style="background: #F4F4F6;height: 150%;">
       <!--Heading-->
        <div class="col-md-11 col-sm-11 panel table-box">
          <div class="panel-body" style="background: #445377;color:white;margin-top: inherit;height: 40px;">
              <label id="pageHeading" style="font-size:18px;font-weight: 100;padding: 5px 15px;">Check In Stock</label>
            </div><br><br>
            
            <div class="panel-body row view">
              <section class="content bgcolor-9" ng-model="innerContent" style="margin-left: 10%;">
                  <!--This is First Row Section-->
                  <form class="addForm" ng-submit=addnewService(addForm,serviceData)>
                   
                         <div class="row">
                             <div class ="col-md-6">
                                    <label for="usr">Invoice No<span class="asterisk">*</span>  </label>
        
                                     <div class="input-group">
                                     <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                     <input type="number" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched"  ng-model="invoiceNo" placeholder="Invoice No" style="width: 50%">
                                   </div>
                             </div>
                             
                               <div class ="col-md-6">
                                    <label for="usr">Invoice Date<span class="asterisk">*</span>  </label>
        
                                     <div class="input-group">
                                     <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                     <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" datepicker ng-model="invoiceDate" placeholder="invoice Date" style="width: 50%">
                                   </div>
                             </div>
                      </div><br>
                      
                      <!--Second Row-->
                        <div class="row">
                             <div class ="col-md-6">
                                    <label for="usr">Vendor Name<span class="asterisk">*</span>  </label>
        
                                     <div class="input-group">
                                     <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                     <input type="number" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched"  ng-model="vendorName" placeholder="Vender Name" style="width: 50%">
                                   </div>
                             </div>
                             
                               <div class ="col-md-6">
                                    <label for="usr">Vendor Email<span class="asterisk">*</span>  </label>
        
                                     <div class="input-group">
                                     <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                     <input type="email" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched"  ng-model="vendorEmail" placeholder="vendor Email" style="width: 50%">
                                   </div>
                             </div>
                      </div><br>
                      <!--third Row-->
                        <div class="row">
                             <div class ="col-md-6">
                                    <label for="usr">Address<span class="asterisk">*</span>  </label>
        
                                     <div class="input-group">
                                     <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                                        <textarea  class="form-control ng-valid ng-dirty ng-valid-parse ng-touched"  ng-model="address" placeholder="Address" style="height: 55px;width: 50%;" ></textarea>

                                   </div>
                             </div>
      
                      </div>
                        <div class="divider" style="border: 1px solid;margin-top: 2%"></div><br>
                      
                      <div class="row">
                         <div class="col-md-2">
                             <label for="usr">Brand<span class="asterisk">*</span>  </label>
                             <div class="input-group">
                                     <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                 <select  class="form-control ng-valid ng-dirty ng-valid-parse ng-touched"  ng-model="brand"  style="width: 100%"></select>

                                   </div>
                          </div>
                          
                           <div class="col-md-2">
                             <label for="usr">Product<span class="asterisk">*</span>  </label>
                             <div class="input-group">
                                     <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                 <select  class="form-control ng-valid ng-dirty ng-valid-parse ng-touched"  ng-model="product"  style="width: 100%"></select>

                                   </div>
                          </div>
                          
                          <div class="col-md-2">
                             <label for="usr">Quantity<span class="asterisk">*</span>  </label>
                             <div class="input-group">
                                     <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                 <input type = "text"  class="form-control ng-valid ng-dirty ng-valid-parse ng-touched"  ng-model="quantity"  style="width: 100%">

                                   </div>
                          </div>
                          <div class="col-md-2">
                             <label for="usr">Rate<span class="asterisk">*</span>  </label>
                             <div class="input-group">
                                     <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                 <input type="text"  class="form-control ng-valid ng-dirty ng-valid-parse ng-touched"  ng-model="rate"  style="width: 100%">

                                   </div>
                          </div>
                          <div class="col-md-2">
                             <label for="usr">Total<span class="asterisk">*</span>  </label>
                             <div class="input-group">
                                     <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                 <input type="text"  class="form-control ng-valid ng-dirty ng-valid-parse ng-touched"  ng-model="total"  style="width: 100%">

                                   </div>
                          </div>
                           <div class="col-md-2">
                           
                              <div class="row text-center" style="margin-right: 22%">

                               <button ng-disabled="commissionMsg" type="submit" class="btn saveBtn">Add</button>

                          </div>
                          </div>
                          
                       
                      </div>
                      <br><br><br>
                      
                      <!--Result Area -->
                      
                      <div class="col-md-6" style="float: right;background:#e8e2e2;overflow-y: hidden">
                          <div class="table-responsive" style="width: 98%;margin-top: 3%; margin-left: 3px" >
                              <table  class="table ">
                                <thead>
                                    <tr>
                                     
                                       <th>Product</th>
                                       <th>Quantity</th>
                                       <th>Amount</th>
                                        <th>Action</th>
                                    </tr>
                                  </thead>
                                  
                                  <tbody>
                                     <tr ng-repeat="purchase in purchaseOrder">
                                        <td>{{purchase.product}}</td>
                                         <td>{{purchase.quantity}}</td>
                                         <td>{{purchase.amount}}</td>
                                         <td> <a href="#!" class="badge badge-primary" style="font-weight: 100;background: #da6f6f;box-shadow: 2px 2px 8px 0px grey;">Delete</a></td>
                                         
                                      </tr>
                                  </tbody>
                                 
                              </table><br>
                              
                                <div class="row text-center" style="float: right">
  
                                   <button ng-disabled="commissionMsg" type="submit" class="btn saveBtn">Sumbit</button>

                                </div>
                          </div><br>
                      </div>
                     
                 </form>
                  
                </section>
            </div>
        </div>
    </div>
</div>