<div class="wrapper">
  <div ui-view="navigation"></div>

  <div class="content-wrapper" style="background: #F4F4F6;height: 150%;" ng-init="initUpdateCategory()">
      
     <!--Add Category Heading-->
    <div class="col-md-11 col-sm-11 panel table-box">
      
     <div class="panel-body" style="background: #445377;color:white;margin-top:inherit;height: 40px;">
            <label id="pageHeading" style="font-size:18px;font-weight: 100;padding: 5px 15px;">Update Category</label>  
          </div><br><br>
        
        <!--Code For Update Category-->
        
            <div class="panel-body row view">
              <section class="content bgcolor-9" ng-model="innerContent" style="margin-left:10%;">
                  <form class="addCategory" ng-submit=addnewCategory(addForm,serviceData)>
                    <div class="row">
                        <!--First Column-->
                      <div class="col-md-6">
                        <label for="usr">Category Id<span class="asterisk">*</span></label>
                          <div class="input-group">
                           <span class="input-group-addon">
                             <i class="fa fa-list-alt" aria-hidden="true"></i>
                           </span>
                              
                              <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" style="width:50%;height: 29px;font-size: 10px !important;" ng-model="category.id">
                          </div>
                      </div>
                        <!--Second Column-->
                        <div class="col-md-6">
                        <label for="usr">Category Name<span class="asterisk">*</span></label>
                          <div class="input-group">
                           <span class="input-group-addon">
                             <i class="fa fa-list-alt" aria-hidden="true"></i>
                           </span>
                              
                              <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" style="width:50%;height: 29px;font-size: 10px !important;" ng-model="category.name">
                          </div>
                      </div>
                        
                    </div><br>
                      
                      <!--SeconD Row-->
                      
                      <div class="row">
                         <!--First Column-->
                          <div class="col-md-6">
                              <label for="usr">Description<span class="asterisk">*</span></label>
                          <div class="input-group">
                           <span class="input-group-addon">
                             <i class="fa fa-list-alt" aria-hidden="true"></i>
                           </span>
                              
                             <textarea  class="form-control ng-valid ng-dirty ng-valid-parse ng-touched"  ng-model="category.descriptionName" style="height: 55px;width: 53%;font-size: 10px !important" ></textarea>
                          </div>
                      </div>
                     </div>
                      
                           <!--Button-->
                       <div class="row text-center" style="margin-right: 22%">
                       
                        <button ng-disabled="commissionMsg" type="submit" class="btn saveBtn">Update</button>

                       </div>
                
                  </form>
              </section>
            </div>
            
    </div>
</div>
</div>