<div class="wrapper">
   <div ui-view="navigation"></div>
    
    <div class="content-wrapper" style="background: #F4F4F6;height: 150%;" ng-init="initUpdateBrand()">
      <!--Add Brand Heading-->
        <div class="col-md-11 col-sm-11 panel table-box">
          <div class="panel-body" style="background: #445377;color: white;margin-top: inherit;height: 40px;">
              <label id="pageHeading" style="font-size:18px;font-weight: 100;padding: 5px 15px;">Update Brand</label> 

            </div>
            
               <!--COde For Add Brand-->
            
            <div class="panel-body row view">
              <section class="content bgcolor-9" ng-model="innerContent" style="margin-left:10%">
                 <form class="addBrand" ng-submit="addnewBrand(addForm,serviceDate)">
                     <div class="row">
                       <!-- first Column-->
                         <div class="col-md-6">
                           <label for="usr">Brand Id<span class="asterisk">*</span></label>
                             <div class="input-group">
                                 <span class="input-group-addon">
                               <i class="fa fa-user" aria-hidden="true"></i>
                                 </span>
                                    <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" style="width:50%;height: 29px;font-size: 10px !important;" ng-model="brandId">
                                 
                             </div>
                         </div>
                         
                         <!--Second Column-->
                         
                            <div class="col-md-6">
                           <label for="usr">Brand Name<span class="asterisk">*</span></label>
                             <div class="input-group">
                                 <span class="input-group-addon">
                               <i class="fa fa-user" aria-hidden="true"></i>
                                 </span>
                                    <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" style="width:50%;height: 29px;font-size: 10px !important;" ng-model="brand.name">
                                 
                             </div>
                         </div>
                     </div><br>
                     <!--Second Row-->
                     
                      <div class="row">
                       <!-- first Column-->
                         <div class="col-md-6">
                           <label for="usr">Category Id<span class="asterisk">*</span></label>
                             <div class="input-group">
                                 <span class="input-group-addon">
                               <i class="fa fa-user" aria-hidden="true"></i>
                                 </span>
                                 <select type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" style="width:50%;height: 29px;font-size: 10px !important;" ng-model="brand.category" options="items of items in categoryList "></select>
                                 
                             </div>
                         </div>
                         
                         <!--Second Column-->
                         
                            <div class="col-md-6">
                              <label for="usr">Description<span class="asterisk">*</span></label>
                          <div class="input-group">
                           <span class="input-group-addon">
                             <i class="fa fa-list-alt" aria-hidden="true"></i>
                           </span>
                              
                             <textarea  class="form-control ng-valid ng-dirty ng-valid-parse ng-touched"  ng-model="brand.description" placeholder="description" style="height: 55px;width: 53%;font-size: 10px !important" ></textarea>
                          </div>
                      </div>
                     </div>
                     
                      <!--Button-->
                       <div class="row text-center" style="margin-right: 22%">
                       
                        <button ng-disabled="commissionMsg" type="submit" class="btn saveBtn">Update</button>

                       </div>
                  </form>
              </section>
            </div>
        </div>
        
        
    </div>
</div>