<div class="wrapper">
  <div ui-view="navigation"></div>
    
    <div class="content-wrapper" style="background: #F4F4F6;height: 150%;">
          <div class="container" style="margin-left: 2%;width: 95%;">
        <!--Header-->
        <div class="col-md-11 col-sm-11 panel-default">
          <div class="panel-body">
            <ul class="nav navbar-nav navbar-right">
              <!--Icon-->
                   <li style="z-index: 1000;position: relative;">
                     <a ui-sref="addCategory" data-toggle="add" >
                      <i><img src="common/assets/images/AddBlack.png" height="50"></i>
                 </a>
               </li>   
                <!--End Of Icons-->   
            </ul>
                <h1 style="text-shadow:2px 2px 9px grey;font-size: 27px">View Category</h1>
          </div>
        </div>
    
        <!--Code Start-->
        
           <!--For Searching FIlter-->
             <div class="searchBox">
              <input type="text" class="form-control searchInput" placeholder="Search">
            </div>
        
               
         <div class="table-responsive" style="width: 98%;margin-left: 3px" >
          <table class="table">
            <thead>
              <tr>
               <th>Name</th>  
               <th>Description</th>
               <th>Action</th>
              </tr>
            </thead>
              
              <tbody>
                <tr ng-repeat="category in categories">
                  <td>{{ category.name}}</td>
                  <td>{{ category.descriptionName}}</td>
                    <td><a ng-click="gotToUpdateCategory(category.id)" class="badge badge-primary" style="font-weight: 100;background: #445377;box-shadow: 2px 2px 8px 0px grey;">Edit</a> &nbsp <a href="#!" class="badge badge-primary" style="font-weight: 100;background: #da6f6f;box-shadow: 2px 2px 8px 0px grey;">Delete</a></td>
                </tr>
              </tbody>
          </table>
        </div>
        </div></div>
</div>