<div class="wrapper">

    <div ui-view="navigation"></div>
    <div class="content-wrapper " style="background: #F4F4F6;height: 150%;" ng-init="initViewResources()" >
  
        
       <div class="col-md-11 col-sm-11 panel table-box">
            <div class="panel-body heading" style="background:#445377;color: white;margin-top: inherit;height: 40px;">
                <label style="font-size: 18px;font-weight: 100;padding: 5px 15px;">Add Resources</label>
            </div><br><br>
            <div class="panel-body row view">
                 <section class="content bgcolor-9" ng-model="innerContent" style="margin-left: 10%;">
                     <!--This is for First Row Section-->
                     <form class="addForm"  ng-submit=addnewService(addForm,serviceData)>
                            <div class = "row">
                                <div class ="col-md-6">
                                 <label for="usr">Available Resource<span class="asterisk">*</span></label>
                                   <div class="input-group">
                                     <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                       <select class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" style="width: 50%" ng-model="resourceName" ng-options="resources for resources in availableResource"></select>
                                   </div>
                                </div>
                               
                                 <div class ="col-md-6">
                                   <label for="usr">Used For<span class="asterisk">*</span></label>
                                   <div class="input-group">
                                     <span class="input-group-addon"><i class="fa fa-plus-square" aria-hidden="true"></i></span>
                                     <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" style="width: 50%" ng-model="userFor" placeholder="User For">
                                   </div>
                                </div>
                                
                            </div><br>
                           
                          <!--This is for third Row Section-->
                            <div class = "row">
                                <div class ="col-md-6">
                                    <label for="usr">Quantity<span class="asterisk">*</span></label>
                                   <div class="input-group">
                                     <span class="input-group-addon"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></span>
                                     <input type="number" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" style="width: 50%" ng-model="quantity" placeholder="Quantity">
                                   </div>
                              
                            </div>
                         </div>
                            <br>
                    </form>
                       <div class="row text-center" style="margin-right: 22%">
                       
                        <button ng-disabled="commissionMsg" type="submit" class="btn saveBtn">Save</button>

                       </div>
                    
              </section>

          </div>
        </div>      
      </div>
    </div>