<!-- 00 Dashboard_Cancel Booking Popup  -->


 <div class="modal fade " id="confirmationPopup" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal lightblue content-->
                    <div class="modal-content  modalOrange">
                        <div class="modal-header">
                           <button type="button" class="close pull-right" ng-click="modal.onCancelButtonClick()">&times;</button>
                             <h4 class="modal-title text-center">
                                {{modal.heading}}
                            </h4>
                         </div>
                        <div class="modal-body">    
                           <div class="row text-center" style="width: 90%; margin: 0px auto;">                        
                            <strong class="spacing">
                                {{modal.message}}
                            </strong>
                            </div>
                        </div>
                        
                        <div class="modal-footer">                            
                               <div class="form-group ">
                                    <div class="row paddingTop">
                                        <div class=" col-sm-12 text-center">
                                            <label class="text-success">{{modal.successMessage}}</label>
                                            <label class="text-danger">{{modal.errorMessage}}</label>
                                        </div>
                                        <div class=" col-sm-12 text-center" style="padding-top: 15px;">
                                            <div class="form-group ">
                                                <button type="submit" class="btn btn-green modalBtn" ng-click="modal.onConfirmButtonClick()">Yes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            
<!--<div class="modal fade myModalStyle" id="confirmationPopup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header2">
                <button type="button" class="close pull-right" ng-click="modal.onCancelButtonClick()">&times;</button>
            </div>
            <div class="modal-body">
                <div>
                    <form class="form-horizontal">
                        <div class="row text-center">
                            <div class="col-md-12 h4Text">
                                <strong class="spacing">
                        {{modal.message}}
                    </strong>
                            </div>
                            <div class="form-group ">
                                <div class="row paddingTop">
                                    <div class=" col-sm-12 text-center">
                                        <label class="text-success">{{modal.successMessage}}</label>
                                        <label class="text-danger">{{modal.errorMessage}}</label>
                                    </div>
                                    <div class=" col-sm-12 text-center" style="padding-top: 15px;">
                                        <div class="form-group ">
                                            <button type="submit" class="btn btn-green modalBtn" ng-click="modal.onConfirmButtonClick()">Yes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!-- End 00 Dashboard_Cancel Booking Popup -->