<div class="wrapper">
    <div ui-view="navigation"></div>
    <div class="content-wrapper" style="background: #F4F4F6;">
        <section id="contentSectionFont" class="myPage  " ng-init="intiSetting()">
            <!--UI Setting Loader-->
            <div class="fixed-plugin">
                <div class="dropdown show-dropdown show"><a data-toggle="dropdown"><i class="fa fa-cog fa-2x"></i></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li class="header-title">Sidebar Filters</li>
                        <li class="adjustments-line text-center"><span data-color="purple" class="badge filter badge-purple"></span><span data-color="blue" class="badge filter badge-blue"></span><span data-color="green" class="badge filter badge-green active"></span><span data-color="orange" class="badge filter badge-orange"></span><span data-color="red" class="badge filter badge-red"></span></li>   
                    </ul>
                </div>
            </div>
        </section>

    </div>
</div>

