<div class="wrapper">
   <div ui-view ="navigation"></div>
    
    <div class="content-wrapper" style="background: #F4F4F6">
      <div class="container" style="margin-left: 2%;width: 95%;">
         <!-- ------View Course --  -->
       <div class="col-md-11 col-sm-11 panel-default">
         <div class="panel-body">
             <ul class="nav navbar-nav navbar-right" style="margin-top: 0%;">

                 <!--Icon For Add Course-->
               <li style="z-index: 1000;position: relative;">
                 <a ui-sref="addCourse" >
                   <i><img src="common/assets/images/AddBlack.png" height="50"></i>

                 </a>
               </li>


                 <!--End Of Icons-->
             </ul>
           <h1 style="text-shadow:2px 2px 9px grey;font-size: 27px">View Course</h1>
          
         </div>
       </div>
        
         <!--For Searching FIlter-->
        
          <div class="searchBox">
              <input type="text" class="form-control searchInput" placeholder="Search">
            </div>
         
           
        
        <div class="table-responsive" style="width: 98%;margin-left: 3px" >
        
            <table  class="table ">
           <thead>
             <tr>

                <th style="color: black;font-weight: 100;"> Course Name</th>
                <th style="color: black;font-weight: 100;">Fee</th>
                <th style="color: black;font-weight: 100;">Amidities</th>
                <th style="color: black;font-weight: 100;">Action</th>

             </tr>
           </thead>

            <tbody>
              <tr ng-repeat="course in courses" >
                  <td>{{course.courseName}}</td>
                  <td>{{course.fee}}</td>
                  <td>{{course.amidities}}</td>
                  <td><a ng-click="gotToCourseUpdate(service.id)" class="badge badge-primary link" style="font-weight: 100;background: #445377;box-shadow: 2px 2px 8px 0px grey;">Edit</a> &nbsp <a href="#!" class="badge badge-primary" style="font-weight: 100;background: #da6f6f;box-shadow: 2px 2px 8px 0px grey;">Delete</a></td>

              </tr>
            </tbody>
        </table>
        </div>
        
    </div>
    </div>
</div>