<div class="wrapper">

    <div ui-view="navigation"></div>
    <div class="content-wrapper " style="background: #F4F4F6;height: 150%;" ng-init="initUpdateBranch()">


        <div class="col-md-11 col-sm-11 panel table-box">
            <div class="panel-body" style="background:#445377;color: white;margin-top: inherit;height: 40px;">
                <label style="font-size: 18px;font-weight: 100;padding: 5px 15px;">Update Branch</label>
            </div><br>
            <div class="panel-body row view" style="margin-left: 2%;">

                <!--This is for First Row Section-->
                <form class="updateForm"  ng-submit=updateBranches(addForm,branch)>
                    <div class = "row">
                        <div class ="col-md-6">
                            <label for="usr">Name<span class="asterisk">*</span>  </label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" style="width: 50%" ng-model="branchName" placeholder="Branch Name">
                            </div>    
                        </div>
                        <div class ="col-md-6">
                            <label for="usr">Email<span class="asterisk">*</span></label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" style="width: 50%" ng-model="branchEmail" placeholder="Branch Email" >
                            </div>
                        </div>
                    </div><br>
                    <!--This is for Second Row Section-->
                    <div class = "row">
                        <div class ="col-md-6">
                            <label for="usr">Contact No<span class="asterisk">*</span></label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" style="width: 50%" ng-model="mobileNo" placeholder="Mobile No">
                            </div>
                        </div>
                        <div class ="col-md-6">
                            <label for="usr">Landline No<span class="asterisk">*</span></label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" style="width: 50%" ng-model="landlineNo" placeholder="landline No">
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class ="col-md-6">
                            <label for="usr">Opening Days<span class="asterisk">*</span></label>
                            <table>
                                <thead style="width:100%; ">
                                    <!-- <th style="width:7%"></th> -->
                                    <tr>
                                        <th><span class="theading"> <span style="padding-left:0px;">SUN</span></span>
                                        </th>
                                        <th class="text-center"> <span class="theading">OPEN TIME</span></th>
                                        <th class="text-center theading">CLOSE TIME</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="checkbox" value=""></td>
                                        <td> <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched timepicker1" style="width: 50%;margin-left: 25%;" ng-model="openingTime" placeholder="Opening  Time"></td>
                                        <td> <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched timepicker1" style="width: 50%;margin-left: 25%;" ng-model="openingTime" placeholder="Opening  Time"></td>
                                    </tr>
                                </tbody>
                            </table>

                            <table>
                                <thead style="width:100%; ">
                                    <!-- <th style="width:7%"></th> -->
                                    <tr>
                                        <th><span class="theading"> <span style="padding-left:0px;">MON</span></span>
                                        </th>
                                        <th class="text-center"> <span class="theading">OPEN TIME</span></th>
                                        <th class="text-center theading">CLOSE TIME</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="checkbox" value=""></td>
                                        <td> <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched timepicker1" style="width: 50%;margin-left: 22%;" ng-model="openingTime" placeholder="Opening  Time"></td>
                                        <td> <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched timepicker1" style="width: 50%;margin-left: 22%;" ng-model="openingTime" placeholder="Opening  Time"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table>
                                <thead style="width:100%; ">
                                    <!-- <th style="width:7%"></th> -->
                                    <tr>
                                        <th><span class="theading"> <span style="padding-left:0px;">TUE</span></span>
                                        </th>
                                        <th class="text-center"> <span class="theading">OPEN TIME</span></th>
                                        <th class="text-center theading">CLOSE TIME</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="checkbox" value=""></td>
                                        <td> <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched timepicker1" style="width: 50%;margin-left: 27%;" ng-model="openingTime" placeholder="Opening  Time"></td>
                                        <td> <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched timepicker1" style="width: 50%;margin-left: 27%;" ng-model="openingTime" placeholder="Opening  Time"></td>
                                    </tr>
                                </tbody>
                            </table>

                            <table>
                                <thead style="width:100%; ">
                                    <!-- <th style="width:7%"></th> -->
                                    <tr>
                                        <th><span class="theading"> <span style="padding-left:0px;">WED</span></span>
                                        </th>
                                        <th class="text-center"> <span class="theading">OPEN TIME</span></th>
                                        <th class="text-center theading">CLOSE TIME</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="checkbox" value=""></td>
                                        <td> <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched timepicker1" style="width: 50%;margin-left: 23%;" ng-model="openingTime" placeholder="Opening  Time"></td>
                                        <td> <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched timepicker1" style="width: 50%;margin-left: 23%;" ng-model="openingTime" placeholder="Opening  Time"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!---->

                        <div class="col-md-6">
                            <br>
                            <br>
                            <table>
                                <thead style="width:100%; ">
                                    <!-- <th style="width:7%"></th> -->
                                    <tr>
                                        <th><span class="theading"> <span style="padding-left:0px;">THU</span></span>
                                        </th>
                                        <th class="text-center"> <span class="theading">OPEN TIME</span></th>
                                        <th class="text-center theading">CLOSE TIME</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="checkbox" value=""></td>
                                        <td> <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched timepicker1" style="width: 50%;margin-left: 25%;" ng-model="openingTime" placeholder="Opening  Time"></td>
                                        <td> <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched timepicker1" style="width: 50%;margin-left: 25%;" ng-model="openingTime" placeholder="Opening  Time"></td>
                                    </tr>
                                </tbody>
                            </table>

                            <table>
                                <thead style="width:100%; ">
                                    <!-- <th style="width:7%"></th> -->
                                    <tr>
                                        <th><span class="theading"> <span style="padding-left:0px;">FRI</span></span>
                                        </th>
                                        <th class="text-center theading"> <span class="theading" style="margin-left: 14px;">OPEN TIME</span></th>
                                        <th class="text-center theading">CLOSE TIME</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="checkbox" value=""></td>
                                        <td> <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched timepicker1" style="width: 50%;margin-left: 30%;" ng-model="openingTime" placeholder="Opening  Time"></td>
                                        <td> <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched timepicker1" style="width: 50%;margin-left: 30%;" ng-model="openingTime" placeholder="Opening  Time"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table>
                                <thead style="width:100%; ">
                                    <!-- <th style="width:7%"></th> -->
                                    <tr>
                                        <th><span class="theading"> <span style="padding-left:0px;">SAT</span></span>
                                        </th>
                                        <th class="text-center"> <span class="theading">OPEN TIME</span></th>
                                        <th class="text-center "><span class="theading">CLOSE TIME</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="checkbox" value=""></td>
                                        <td> <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched timepicker1" style="width: 50%;margin-left: 27%;" ng-model="openingTime" placeholder="Opening  Time"></td>
                                        <td> <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched timepicker1" style="width: 50%;margin-left: 26%;" ng-model="openingTime" placeholder="Opening  Time"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class ="col-md-6">
                            <br>
                            <label for="usr">Lunch Time<span class="asterisk">*</span></label>
                            <div class="input-group">
                                <table>
                                    <thead style="width:100%; ">
                                        <!-- <th style="width:7%"></th> -->
                                        <tr>
                                            
                                            <th class="text-center"> <span class="theading" style="float: right;">START TIME</span></th>
                                            <th class="text-center "><span class="theading" style="margin-left: 40%">END TIME</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            
                                            <td> <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched timepicker1" style="width: 50%;margin-left: 44%;" ng-model="openingTime" placeholder="Opening  Time"></td>
                                            <td> <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched timepicker1" style="width: 50%;margin-left: 43%;" ng-model="openingTime" placeholder="Opening  Time"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <br>
                    <div class = "row">

                      

                      

                        <script type="text/javascript">
                            setTimeout(function () {
                                $('.timepicker1').timepicker({
                                    showMeridian: false
                                });
                            }, 1000);
                        </script>
                    </div><br>

                    <div class = "row">
                     
                        <div class ="col-md-6">
                            <label for="usr">Address<span class="asterisk"></span></label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-address-card-o" aria-hidden="true"></i></span>
                                <textarea  class="form-control ng-valid ng-dirty ng-valid-parse ng-touched"  ng-model="address" placeholder="Address" style="height: 55px;width: 50%;" ></textarea>
                            </div>
                        </div>
                    </div>


                </form>
                <div class="row text-center" style="margin-right: 22%">

                    <button ng-disabled="commissionMsg" type="submit" class="btn saveBtn">Add</button>

                </div>



            </div>
        </div>

    </div>
</div>