<div class="wrapper">

    <div ui-view="navigation"></div>
   <div class="content-wrapper" style="background: #F4F4F6;height: 150%;" ng-init="initAssignEmployee">
       
       <!--Used For Heading-->
       <div class ="col-md-11 col-sm-11 panel table-box">
          <div class="panel-body" style="background:#445377;color: white;margin-top: inherit;height: 40px;">
                  <label style="font-size: 18px;font-weight: 100;padding: 5px 15px">Assign Staff</label>
          </div><br><br>
            <!--Contents Start From Here-->
            <div class="row">
               <div class="col-lg-6 col-lg-6 ">
                      <label for="usr">Branch Name<span class="asterisk">*</span></label>
                                   <div class="input-group">
                                     <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                       <select class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" style="width: 50%;height: 29px;font-size: 12px" ng-model="bName" ng-options="branch for branch in branchName"></select>
                                   </div>
                 
                </div>
                
                <!--Second Coloumn-->
                
                <div class="col-lg-6 col-lg-6">
                    <div class="panel-body heading" style="color: black;margin-top: inherit;height: 30px;">
                         <label style="font-size: 15px;font-weight: 100;margin-top: -10px;">Staff List</label>
                    </div><br>
                    
                    <!--List Of Employees-->
                  <div class="scrolltable">
                         <table class ="table">
               
                        <tbody>
                           <tr ng-repeat="employee in employeeList">
                              <td style="border-color:white;width: 10%;"><input type="checkbox"></td>
                               <td style="border-color:white;">{{employee.Ename}}</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    
                    <!--End OF Table-->
                     
                    <button type="submit" class="btn saveBtn" style="float: right">Assign</button>
                </div>
            </div>
       </div>
       
      
     
     </div>   

</div>