<div class="wrapper">
    <div ui-view="navigation"></div>

    <div class="content-wrapper" style="background: #F4F4F6;padding: 1px;height: 150%;">
        <!-- Heading-->

        <div class="col-md-12 col-sm-12 panel-default">
            <!--<h1 style="text-shadow:2px 2px 9px grey;font-size: 27px">Enquiry</h1>-->
        </div>

        <!--Code For Add User-->
        <section class="intro">
            <form  class="col-md-8 col-sm-8 panel table-box feedbackForm ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength ng-valid-pattern" name="addSiteForm" ng-submit="addSite(addSiteForm,siteData);" novalidate="">

                <div class="panel-body row view" style="padding: 0px 20px;">
                    <div class="row">
                        <div class="col-md-8">
                            <label class="text-center" style="font-weight:1; font-size: 30px;margin-left: 50%">Your Feedback</label>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-8">
                            <label class="text-center" style="font-weight:1;font-size: 12px;margin-left: 40%">We would like your feedback to improve our services</label>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <label class="text-center" style="font-weight:1;font-size: 12px;margin-left: 40%">What is your opinion ?</label>
                    </div>
                    <br>
                    
                    <div class="row">
                      <label style="font-weight:1;font-size: 12px;margin-left: 10%">Please select your feedback below</label>
                    </div>
                    <div class="row" style="margin-left: 5%">
                      
                        <div class="col-md-4">
                            <button class="button">Suggestion</button>
                        </div>
                        <div class="col-md-4">
                            <button class="button">Not quite right</button>
                        </div>
                        <div class="col-md-4">
                            <button class="button">Compliment</button>
                        </div>
                    </div>
                    <hr>
                    <br>
                    <div class="row">
                        <label style="font-weight:1;font-size: 12px; margin-left: 10%">Please Leave your feedback below</label>

                    </div>
                    <div class="row" style="margin-left: 5%">
                        <div class="col-md-6">
                            <textarea rows="6" cols="100"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-centered text-center">
                            <p class="success ng-binding ng-hide" ng-show="successMsg"></p>
                            <p class="error ng-binding ng-hide" ng-show="errorMsg"></p>
                            <button class="btn">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </section>

    </div>

</div>