<div class="wrapper">
    <div ui-view="navigation"></div>
    <div class="content-wrapper" style="background: #F4F4F6;padding: 1px;height: 150%;">
        
         <div class="col-md-11 col-sm-11 panel table-box">
            <div class="panel-body">
                <label style="font-size: 14px;">Add Role</label>
                <i class="fa fa-save fa-lg pull-right" style="font-size: 15px;cursor: pointer;" aria-hidden="true" ng-click="saveGroup(group)" ng-show="updateGroup"></i>
            </div>
            <div id="updateGroupPanel" class="panel-body row view">
                <form class="roleForm" name="addMIP" ng-submit="addRole(roleForm, roleData)" novalidate>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="usr">Role Name <span class="asterisk">*</span></label>
                                <input type="text" class="form-control" id="usr" maxlength="100" ng-model="newGroup.company" ng-diabled="!updateGroup" required >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="text-success" if="saveGroupSuccessMessage && saveGroupSuccessMessage != '' ">{{saveGroupSuccessMessage}}</label>
                        <label class="text-danger" ng-if="saveGroupErrorMessage && saveGroupErrorMessage != ''">{{saveGroupErrorMessage}}</label>
                    </div>
                    <div class="row text-center">
                        <button type="submit" class="btn btn-sm updatebtn">
                            Add
                        </button>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
</div>