body {
    /*height: 100%;*/
    width: 100%;
    font-family: 'Lato', sans-serif !important;
}
a,
a:hover,
a:active,
a:focus {
    border-bottom: none !important;
}
li.menu-item-10303 a:hover,
li.menu-item-10305 a:hover {
    text-decoration: none !important;
    color: #000 !important;
    pointer-events: none !important;
    cursor: default !important;
    /*cursor: auto !important;*/
}
li.menu-item-10303 a:hover .top-bar-link,
li.menu-item-10305 a:hover .top-bar-link {
    pointer-events: none !important;
    cursor: default !important;
    /*cursor: auto !important;*/
}
/* overlay on slider to make text on slider more readable */
.page-id-9416 .rev_slider .slotholder:after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    /* black overlay with 50% transparency */
    background: rgba(0, 0, 0, 0.4);
}
.home-sec2 li a:hover,
.home-sec2 p a:hover {
    outline: none !important;
    outline: 0px !important;
    text-decoration: none !important;
    /*font-weight: bold !important;*/
    color: #F4A334 !important;
    transition: all .1s ease-in-out;
}
li#menu-item-9906 {
    /*margin-left: 497px;*/
    /*margin-left: 43.7% !important;*/
}
li.menu-item a {
    font-weight: bold;
}
/* to remove padding of menu items and logo image */
#dt-menu>ul>li {
    /*line-height: 3.8em !important;*/
}
#dt-menu ul li.separator a {
    padding: 0px !important;
}
#dt-menu ul li.separator:hover {
    text-decoration: none !important;
}
.home #top-bar {
    border-bottom: 0px !important;
    background-color: transparent !important;
}
.home #top-bar a {
    color: #000000;
    font-size: 12px !important;
    font-weight: normal !important;
}
#top-bar {
    font-size: 12px !important;
}
#head-page.solid.alt #logomenu {
    margin-top: -16px !important;
    /*position: absolute !important;*/
    z-index: 100 !important;
}
h2.post-title {
    display: none;
}
.home-sec2 {
    /*box-shadow: 0 1px #FFFFFF, 0 1px 50px rgba(34, 25, 25, 0.1);*/
    top: -185px !important;
    zoom: 1;
    /*position: relative;*/
    /*background-color: #FFF !important;*/
    position: relative;
    padding-top: 30px;
}
/* home tabbed navigation section css */
.home-sec-4-desc {
    font-family: 'Lato', sans-serif !important;
    font-size: 15px !important;
    line-height: 20px !important;
    color: #191919 !important;
    text-align: center !important;
}
.home-tab-nav .row .text p {
    font-family: 'Lato', sans-serif !important;
    font-size: 15px !important;
    line-height: 20px !important;
    color: #191919 !important;
}
/* home tabbed navigation section css */
/* all page title section on top slider */
.page-title-desc p {
    font-family: 'Lato', sans-serif !important;
    font-size: 22px !important;
    line-height: 26px !important;
    text-align: center !important;
    font-weight: 400;
    color: #f2f2f2;
}
/* all page title section on top slider */
/* trendsetter section css */
.home-sec-5-desc p {
    font-size: 13px;
    line-height: 18px;
    color: #f2f2f2;
    text-align: left;
    width: 280px;
}
.home-sec-5-desc p span {
    font-family: Lato;
    color: #ffffff;
}
.home-sec-5-desc p span img {
    height: 50px;
    width: 50px;
    /*padding-bottom: 25px !important;*/
}
.home-sec-5-desc p strong {
    font-size: 17px !important;
    line-height: 22px;
    font-weight: 700;
}
/* trendsetter section css */
.sec-6-three-blocks3 .vc_column-inner {
    box-shadow: 0 1px #FFFFFF, 0 1px 50px rgba(34, 25, 25, 0.1);
}
.sec-6-three-blocks {
    width: 27% !important;
}
.sec-6-three-blocks .vc_column-inner {
    box-shadow: 0 1px #FFFFFF, 0 1px 50px rgba(34, 25, 25, 0.1);
}
.sec-7-three-blocks .vc_column-inner {
    height: 300px !important;
    width: unset !important;
    border-radius: 5px;
    /* padding: 30px;
    width: 325px;*/
}
.map-locations {
    /*margin-top: -50px;*/
}
.customer-carousel {
    box-shadow: 0 1px #FFFFFF, 0 1px 50px rgba(34, 25, 25, 0.1);
    border-radius: 5px;
}
.owl-carousel-container .owl-theme .owl-controls {
    margin-top: -20px !important;
}
footer h4 {
    color: #FFF !important;
}
#footer {
    padding: 40px 0 25px 0;
}
.footer-section {
    border-bottom: 2px solid #8e8e8e !important;
}
.mc4wp-form-fields input[type='email'] {
    border: none;
    background: transparent;
    border-bottom: 2px solid #FFFFFF;
}
.mc4wp-form-fields input[type='submit'] {
    background-color: #F5A335;
    border-radius: 3px;
    border: none;
    padding: 5px 20px;
}
.mc4wp-form-fields input[type='email']::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #D3D3D3 !important;
}
.mc4wp-form-fields input[type='email']::-moz-placeholder {
    /* Firefox 19+ */
    color: #D3D3D3 !important;
}
.mc4wp-form-fields input[type='email']:-ms-input-placeholder {
    /* IE 10+ */
    color: #D3D3D3 !important;
}
.mc4wp-form-fields input[type='email']:-moz-placeholder {
    /* Firefox 18- */
    color: #D3D3D3 !important;
}

/* new newsletter contact form 7 form css */
input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email.newsletter-email {
    border: none;
    background: transparent;
    border-bottom: 2px solid #FFFFFF;
    width: 100%;
}
input.wpcf7-form-control.wpcf7-submit.nsl-sub-btn {
    background-color: #F5A335 !important;
    border-radius: 3px;
    border: none;
    padding: 5px 20px;
    margin-top: 12px;
}
.mc4wp-form-fields input[type='email']::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #D3D3D3 !important;
}
.mc4wp-form-fields input[type='email']::-moz-placeholder {
    /* Firefox 19+ */
    color: #D3D3D3 !important;
}
.mc4wp-form-fields input[type='email']:-ms-input-placeholder {
    /* IE 10+ */
    color: #D3D3D3 !important;
}
.mc4wp-form-fields input[type='email']:-moz-placeholder {
    /* Firefox 18- */
    color: #D3D3D3 !important;
}
/* new newsletter contact form 7 form css */

.dt-contact-form label {
    font-weight: 400;
    color: #777 !important;
}
.dt-contact-form.on-dark input[type=submit] {
    float: left;
    margin-left: -65px !important;
    font-weight: bold !important;
    border-radius: 5px;
    padding-left: 35px !important;
    padding-right: 35px !important;
}
@media (pointer:coarse) {
    .dt-contact-form.on-dark input[type=submit] {
        margin-left: 0px !important;
    }
}
.footer-copyright {
    color: #8e8e8e !important;
    padding: 20px 0 0;
}
.footer-social {
    font-size: 18px !important;
    padding: 0 10px !important;
}
/* menu bar top padding for links on page scroll */
#head-page.adminbar-is-here.hastopbar.reveal .menu-item {
    padding: 10px 0 0 0;
}
#head-page.adminbar-is-here.hastopbar.reveal.alt .menu-item {
    padding: 0px !important;
}
/* menu bar logo to add bottom padding for logo on scroll menu */
#head-page.adminbar-is-here.hastopbar.reveal {
    top: 25px;
    padding: 0 0 10px 0 !important;
}
/* menu bar logo to remove bottom padding of logo */
#head-page.adminbar-is-here.hastopbar.reveal.alt {
    padding: 0px !important;
}
/* menu bar top padding for links on page scroll */
#head-page.hastopbar.reveal .menu-item {
    padding: 10px 0 0 0;
}
#head-page.hastopbar.reveal.alt .menu-item {
    padding: 0px !important;
}
/* menu bar logo to add bottom padding for logo on scroll menu */
#head-page.hastopbar.reveal {
    top: 25px;
    padding: 0 0 10px 0 !important;
}
/* menu bar logo to remove bottom padding of logo */
#head-page.hastopbar.reveal.alt {
    padding: 0px !important;
}
.saas,
.world-map,
.extra-saas {
    display: none !important;
    /* extra-saas is just to hide unwantes rows / sections */
}

.top-head #top-bar {
    background: rgba(255, 255, 255, 0.7) !important;
    border-bottom: none;
    z-index: 1;
}

#menu-top-bar-menu-right {
    font-size: 12px !important;
}

#top-bar .right-menu .nav>li>a {
    font-weight: normal !important;
}

.eip-sec-one {
    margin-top: -115px !important;
}


/* eip widgets page css */

.eip-widgets-navigation .vc_tta-tab>a {
    border-color: transparent !important;
    text-align: left !important;
    font-weight: 700;
    color: #333 !important;
    border-bottom: 1px solid #333 !important;
}

.eip-widgets-navigation .vc_tta-tab.vc_active>a {
    background-color: transparent !important;
    color: #f5a335 !important;
}

.wpb-js-composer .vc_tta-color-white.vc_tta-style-classic .vc_tta-tab.vc_active>a {
    border-bottom: 1px solid #f5a335 !important;
}

.nitovate-sec2-text {
    box-shadow: 0 1px #FFFFFF, 0 1px 50px rgba(34, 25, 25, 0.1);
}

@media (min-width: 992px) {
    .nitovate-new-menu {
        float: right !important;
    }
    .nitovate-new-menu .sub-nav {
        margin-left: -225px !important;
    }
    .nitovate-new-menu .sub-nav li {
        text-align: right !important;
    }
}


/*@media (min-width: 992px) {
    #dt-menu ul .sub-nav {
        top: auto;
        bottom: auto;
        left: unset !important;
        right: auto !important;
        width: auto;
        padding: 15px 10px;
        background-color: #1b1b1b;
    }
}
*/

#mobile-header {
    color: #FFFFFF !important;
}


/*.nitovate-menu a {
    margin-left: 450% !important;
    text-align: right !important;
}
.nitovate-menu ul.sub-nav  {
    margin-left: -51px !important;
}
.nitovate-menu ul.sub-nav li a {
    margin-left: -100px !important;
}*/


/* header social menu icons css */

#top-bar .right-menu .nav>li>a {
    padding: 10px 3px 10px 3px !important;
}

.topbar-menu-nosub i {
    margin: 0 3px;
}

ul#menu-top-bar-menu-right-1>li.menu-item-10305 {
    margin-right: 70px;
}


/* header top bar social icons hover effect */

a i.icon-facebook:hover,
a i.icon-twitter:hover,
a i.icon-gplus:hover,
a i.icon-linkedin:hover {
    color: #F4A334;
}


/* widgets tabbed navigatio padding */

.wpb-js-composer .vc_tta.vc_general .vc_tta-tab>a {
    padding: 7px 0px !important;
}

.wpb-js-composer .vc_tta.vc_tta-o-no-fill.vc_tta-tabs .vc_tta-tabs-container {
    width: 25% !important;
}

.wpb-js-composer .vc_tta-tabs.vc_tta-tabs-position-left .vc_tta-panels-container {
    width: 75% !important;
}


/* css effect for pages content */

.vc_icon_element-inner {
    transition: all .2s ease-in-out;
}

.vc_icon_element-inner:hover {
    transform: scale(1.4);
}

.wpb_wrapper p a:hover {
    color: #f4a334 !important;
}

footer#footer a:hover {
    color: #f4a334 !important;
}


/* tabbed navigation link color and background color on hover */

li.vc_tta-tab a:hover {
    color: #f4a334 !important;
    background: #FFF !important;
}

.vc_single_image-wrapper img:hover {
    transform: scale(1.1) !important;
}

.vc_single_image-wrapper img {
    transition: all .2s ease-in-out !important;
}


/* pop up overlay color and opacity */

.pum-theme-11249,
.pum-theme-default-theme {
    background-color: rgba( 0, 0, 0, 0.70);
}

.webinar-sec2 {
    box-shadow: 0 1px #FFFFFF, 0 1px 50px rgba(34, 25, 25, 0.2);
    margin-top: -150px !important;
    background-color: #FFF !important;
    position: relative;
    padding: 30px 0;
    margin-bottom: 50px;
}


/* horizontal tabbed navigation css */

#admin-functions ul.vc_tta-tabs-list li.vc_tta-tab a {
    position: relative !important;
    float: left !important;
}

#admin-functions .vc_tta-panel-body {
    width: 100% !important;
}


/* horizontal tabbed navigation css */


/* to hide 3 menu links from header includeing vertical line */

#menu-item-9906,
#menu-item-9908,
#menu-item-9910 {
    display: none !important;
}


/* to hide 3 menu links from header includeing vertical line */


/* css for form control fields */

.wpcf7-form-control.form-control {
    background-color: #EDEDED !important;
    color: #333 !important;
}

.wpcf7-form-control.form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #a5a5a5 !important;
}

.wpcf7-form-control.form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #a5a5a5 !important;
}

.wpcf7-form-control.form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #a5a5a5 !important;
}

.wpcf7-form-control.form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #a5a5a5 !important;
}

.wpcf7-form-control.wpcf7-submit {
    background-color: #EF2F3A !important;
}


/* css for form control fields */

.home-btn a {
    font-weight: bold;
}

div#slide-27-layer-5:hover {
    -moz-transition: all 200ms ease-in !important;
    -webkit-transition: all 200ms ease-in !important;
    transition: all 200ms ease-in !important;
    -moz-transform: scale(1.1) !important;
    -webkit-transform: scale(1.1) !important;
    transform: scale(1.1) !important;
}

.home-btn a:hover {
    /*-moz-transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    transition: all 200ms ease-in;*/
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.vc_btn3.vc_btn3-style-custom {
    background-image: none !important;
}

.contact-form-submit-btn {
    /*background-color: #EF2F3A !important;*/
    width: 100%;
    margin: 0 auto;
}


/* to display only single menu to right align*/


/*li#menu-item-10225 a {
    padding-left: 160px !important;
}
#dt-menu .sub-nav {
    margin-left: 705px !important;
}*/


/* to display only single menu to right align*/


/* slider link icons caption css */

.slider-link-caption {
    height: 20px !important;
    /*display: none;*/
}

.slider-link-img:hover~slider-link-caption {
    display: block !important;
    background-color: #FFF !important;
}


/* slider link icons caption css */


/* IE Specific css */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .home-sec2 {
        top: -155px !important;
        zoom: 1;
        position: relative;
    }
    .home-sec-4 {
        /*margin-top: -200px !important;*/
        margin-top: 0px !important;
    }
    .home-sec-4 .block-title {
        /*margin-top: -100px !important;*/
        margin-top: 0px !important;
    }
    .all-page-sec2 {
        margin-top: -400px !important;
    }
    .all-page-title {
        margin-top: -350px !important;
    }
    /*html,body {
        overflow-x: hidden !important;
    }*/
}

@supports (-ms-accelerator:true) {
    /* IE Edge 12+ CSS styles go here */
    .home-sec2 {
        top: -155px !important;
        zoom: 1;
        position: relative;
    }
    .home-sec-4 {
        margin-top: -200px !important;
    }
    .home-sec-4 .block-title {
        margin-top: -100px !important;
    }
    /*html,body {
        overflow-x: hidden !important;
    }*/
}


/* IE Specific css */


/* microsoft edge specific css */

@supports (-ms-ime-align: auto) {
    .home-sec2 {
        top: -155px !important;
        zoom: 1;
        position: relative;
    }
    .home-sec-4 {
        margin-top: -200px !important;
    }
    .home-sec-4 .block-title {
        margin-top: -100px !important;
    }
    .all-page-sec2 {
        margin-top: -400px !important;
    }
    .all-page-title {
        margin-top: -350px !important;
    }
}


/* microsoft edge specific css */

@media screen and (min-width: 768px) {
    .five-columns.vc_row .vc_col-sm-2 {
        float: left;
        width: 18.8%;
        padding: 0;
        margin-right: 1.5%;
        min-height: 0;
    }
    .five-columns.vc_row .vc_col-sm-2:nth-last-child(2) {
        margin-right: 0;
    }
    .three-columns.vc_row .vc_col-sm-2 {
        float: left;
        width: 18.8%;
        padding: 0;
        margin-right: 1.5%;
        min-height: 0;
    }
    .three-columns.vc_row .vc_col-sm-2:nth-last-child(2) {
        margin-right: 0;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {

    /*li#menu-item-9906 {
        margin-left: 32.3% !important;
    }*/
    /*.nitovate-menu a {
        margin-left: 640% !important;
    }*/
    div#rev_slider_6_1 {
        height: 64% !important;
    }
    .vc_custom_1509104701397 {
        margin-right: 40px;
        margin-left: 40px;
    }
    .block-title p a,
    .block-title p {
        font-size: 13px !important;
    }
    div#slide-12-layer-1,
    div#slide-16-layer-1,
    div#slide-17-layer-1 {
        font-size: 20px !important;
        line-height: 30px !important;
        margin-top: -110px !important;
        text-align: center !important;
    }
    div#slide-12-layer-2,
    div#slide-16-layer-2,
    div#slide-17-layer-2 {
        font-size: 14px !important;
        line-height: 18px !important;
        margin-top: -130px !important;
        text-align: center !important;
    }
    .home-sec2 {
        margin: -265px 55px 0 !important;
    }
    .home-sec-2-desc ul li a,
    .home-sec-2-desc a {
        font-size: 12px !important;
    }
    .vc_custom_1509968354995,
    .vc_custom_1509368969328,
    .vc_custom_1509456944682 {
        margin-left: 0px !important;
    }
    .home-sec-4-right .vc_custom_1509969199629 {
        padding-top: 20px !important;
    }
    /* all sections description text size css*/
    .home-sec-3-desc p,
    .home-sec-4-desc p,
    .home-sec-5-desc p,
    .home-sec-6-desc p {
        font-size: 12px !important;
    }
    /* nitovates philosophy section strong text size css*/
    .home-sec-5-desc p strong {
        font-size: 14px !important;
    }
    .home-sec5 .vc_custom_1508937635506 {
        padding-top: 280px;
    }
    .box-container.vc_row.wpb_row.vc_row-fluid.home-sec5.vc_custom_1508937635506 {
        background-size: 100% 100% !important;
    }
    .home-sec5 .vc_custom_1507199855161 {
        margin-top: -220px !important;
    }
    .home-sec-5-desc p {
        width: 250px !important;
    }
    .home-sec5 .five-columns {
        padding: 20px 0 !important;
    }
    .vc_custom_1509369737238 {
        margin-left: -70px !important;
    }
    .vc_custom_1509369759231 {
        margin-left: -10px !important;
    }
    #footer,
    #footer p {
        font-size: 12px !important;
    }
    .sec-6-three-blocks .vc_custom_1509003520623,
    .sec-6-three-blocks .vc_custom_1509369737238 {
        padding-top: 70px !important;
        padding-bottom: 70px !important;
    }
    .sec-6-three-blocks .vc_custom_1509369759231 {
        padding-top: 50px !important;
        padding-bottom: 110px !important;
    }
    .home-sec9 {
        margin-top: 40px !important;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1365px) {

    /*li#menu-item-9906 {
        margin-left: 32.3% !important;
    }*/
    /*.nitovate-menu a {
        margin-left: 640% !important;
    }*/
    div#rev_slider_6_1 {
        height: 64% !important;
    }
    .vc_custom_1509104701397 {
        margin-right: 40px;
        margin-left: 40px;
    }
    .block-title p a,
    .block-title p {
        font-size: 13px !important;
    }
    div#slide-12-layer-1,
    div#slide-16-layer-1,
    div#slide-17-layer-1 {
        font-size: 20px !important;
        line-height: 30px !important;
        margin-top: -110px !important;
        text-align: center !important;
    }
    div#slide-12-layer-2,
    div#slide-16-layer-2,
    div#slide-17-layer-2 {
        font-size: 14px !important;
        line-height: 18px !important;
        margin-top: -130px !important;
        text-align: center !important;
    }
    .home-sec2 {
        margin: -265px 55px 0 !important;
    }
    .home-sec-2-desc ul li a,
    .home-sec-2-desc a {
        font-size: 12px !important;
    }
    .vc_custom_1509968354995,
    .vc_custom_1509368969328,
    .vc_custom_1509456944682 {
        margin-left: 0px !important;
    }
    .home-sec-4-right .vc_custom_1509969199629 {
        padding-top: 20px !important;
    }
    /* all sections description text size css*/
    .home-sec-3-desc p,
    .home-sec-4-desc p,
    .home-sec-5-desc p,
    .home-sec-6-desc p {
        font-size: 12px !important;
    }
    /* nitovates philosophy section strong text size css*/
    .home-sec-5-desc p strong {
        font-size: 14px !important;
    }
    .home-sec5 .vc_custom_1508937635506 {
        padding-top: 280px;
    }
    .box-container.vc_row.wpb_row.vc_row-fluid.home-sec5.vc_custom_1508937635506 {
        background-size: 100% 100% !important;
    }
    .home-sec5 .vc_custom_1507199855161 {
        margin-top: -220px !important;
    }
    .home-sec-5-desc p {
        width: 250px !important;
    }
    .home-sec5 .five-columns {
        padding: 20px 0 !important;
    }
    .vc_custom_1509369737238 {
        margin-left: -70px !important;
    }
    .vc_custom_1509369759231 {
        margin-left: -10px !important;
    }
    #footer,
    #footer p {
        font-size: 12px !important;
    }
    .sec-6-three-blocks .vc_custom_1509003520623,
    .sec-6-three-blocks .vc_custom_1509369737238 {
        padding-top: 70px !important;
        padding-bottom: 70px !important;
    }
    .sec-6-three-blocks .vc_custom_1509369759231 {
        padding-top: 50px !important;
        padding-bottom: 110px !important;
    }
    .home-sec9 {
        margin-top: 40px !important;
    }
}

@media screen and (min-width:1920px) {
    .block-title p a,
    .block-title p {
        font-size: 22px !important;
    }
    .home-sec-2-desc ul li a,
    .home-sec-2-desc a {
        font-size: 20px !important;
        line-height: 30px !important;
    }
    /* all sections description text size css*/
    .home-sec-3-desc p,
    .home-sec-4-desc p,
    .home-sec-5-desc p,
    .home-sec-6-desc p {
        font-size: 20px !important;
        line-height: 30px !important;
    }
    .home-sec-5-desc p strong {
        font-size: 22px !important;
    }
    div#rev_slider_6_1 {
        max-height: 600px;
        height: 600px;
        height: 120% !important;
    }
    .home-sec2 {
        margin: 0px;
    }
    /*li#menu-item-9906 {
        margin-left: 43.7% !important;
    }*/
    .vc_custom_1509700836854 {
        margin-right: 20px;
        margin-left: -200px !important;
        width: 135%;
    }
    .vc_custom_1508937606691 {
        margin-right: 20px;
        margin-left: -200px !important;
        width: 135%;
    }
    div#slide-12-layer-1,
    div#slide-16-layer-1,
    div#slide-17-layer-1 {
        font-size: 40px !important;
        line-height: 50px !important;
        margin-top: -40px !important;
        margin-left: -25px !important;
        text-align: center !important;
    }
    div#slide-12-layer-2,
    div#slide-16-layer-2,
    div#slide-17-layer-2 {
        font-size: 28px !important;
        line-height: 36px !important;
        margin-top: 10px !important;
    }
    .tp-bgimg.defaultimg {
        background-size: 100% 100% !important;
    }
    /*.nitovate-menu a {
        margin-left: 455% !important;
    }*/
    .vc_custom_1509969056078 {
        margin-right: 20px;
        margin-left: -200px !important;
        width: 135%;
    }
    .vc_custom_1507200463833,
    .vc_custom_1507200485628 {
        margin-left: -360px !important;
        width: 170%;
        font-size: 20px !important;
    }
    #footer,
    #footer p {
        font-size: 18px !important;
    }
    .sec-6-three-blocks .vc_custom_1509003520623,
    .sec-6-three-blocks .vc_custom_1509369737238 {
        padding-top: 70px !important;
        padding-bottom: 30px !important;
    }
    .sec-6-three-blocks .vc_custom_1509369759231 {
        padding-top: 50px !important;
        padding-bottom: 110px !important;
    }
    .home-sec9 {
        margin-top: 40px !important;
    }
    .vc_custom_1508937635506 {
        padding-top: 480px !important;
    }
    .home-sec5 .vc_custom_1507199855161 {
        margin-top: -120px !important;
        font-size: 18px;
    }
    .home-sec-5-desc p {
        width: 360px !important;
    }
    .home-sec-5-desc p img {
        height: 140px !important;
        width: 130px !important;
    }
}



/* tabbed navigation responsive css */

.tabcontent {
    margin-top: 20px;
}

.responsive-tabs.responsive-tabs--enabled ul {
    width: 88% !important;
    margin: 0 auto !important;
    text-align: center;
    font-weight: 700 !important;
    color: #000;
    border: none;
}

ul.responsive-tabs__list li {
    border-bottom: 2px solid #ddd !important;
}

.responsive-tabs.responsive-tabs--enabled ul li {
    color: #000 !important;
    padding-left: 15px;
    padding-right: 15px;
}

div#tablist1-panel1 {
    border: none;
}

.responsive-tabs__list__item {
    border: none !important;
    margin: 0px !important;
}

.responsive-tabs__list__item--active {
    border-bottom: 2px solid red !important;
}

.responsive-tabs .responsive-tabs__list__item--active {
    padding-bottom: 10px !important;
    border-bottom: 2px solid red !important;
    top: 0px !important;
}

.responsive-tabs .responsive-tabs__panel {
    background: #fff;
    border: transparent !important;
    padding-top: 40px !important;
}


.ai-two-column .tabcontent {
    background-color: #F8F9FB !important;
    margin-top: 20px;
}

.ai-two-column .responsive-tabs.responsive-tabs--enabled ul {
    width: 74% !important;
    margin: 0 auto !important;
    text-align: center;
    font-weight: 700 !important;
    color: #000;
    border: none;
}

.ai-two-column ul.responsive-tabs__list li {
    border-bottom: 2px solid #ddd !important;
}

.ai-two-column .responsive-tabs.responsive-tabs--enabled ul li {
    color: #000 !important;
    padding-left: 15px;
    padding-right: 15px;
}

.ai-two-column div#tablist1-panel1 {
    border: none;
}

.ai-two-column .responsive-tabs__list__item {
    border: none !important;
    margin: 0px !important;
}

.ai-two-column .responsive-tabs__list__item--active {
    border-bottom: 2px solid orange !important;
}

.ai-two-column .responsive-tabs .responsive-tabs__list__item--active {
    padding-bottom: 10px !important;
    border-bottom: 2px solid orange !important;
    background-color: #F8F9FB !important;
}

.ai-two-column .responsive-tabs .responsive-tabs__panel {
    background: #fff;
    border: transparent !important;
    padding-top: 40px !important;
}


/* tabbed navigation responsive css */


/* read more text css */

.wpsm-show,
.wpsm-hide {
    font-weight: bold;
}
/* read more text css */
/* to hide second icon link in resources section on home page */
.hidden {
    display: none !important;
}
/* to hide second icon link in resources section on home page */
/* contact page icon css*/
.dt-iconboxes.layout-7 i {
    color: #F5A335 !important;
    background: none !important;
}
.module_dt_iconboxes:hover>.dt-iconboxes.layout-7 i {
    background-color: none !important;
}
/* contact page icon css*/
@media only screen and (max-width: 500px) {
    div#slide-20-layer-6 {
        margin-top: 150px !important;
    }
    .reveal #mobile-header {
        color: #000000 !important;
    }
}
@media only screen and (min-width: 680px) {
    ul#fof-sub-12433 {
        left: -65px!important;
    }
    .responsive-tabs .responsive-tabs__panel {
        background: #fff0;
        border: none;
        border-top: none;
    }
}
@media only screen and (max-width: 680px) {
    div#rev_slider_22_1 {
        height: 450px!important;
    }
    div#slide-36-layer-5 {
        top: 109px!important;
    }
    div#slide-36-layer-4 {
        font-size: 14px!important;
        top: 82px;
        line-height: 1.2!important;
    }
    div#slide-36-layer-3 {
        font-size: 18px!important;
        line-height: 1.3!important;
        top: 54px;
    }
}

/***************************************************************/
/* landing page css design */
/***************************************************************/

body{
    height: 100%;
}
::selection {
    color: #FFF !important; 
    background: #ae3232 !important;
}
#footer {
    padding-bottom: 20px;
}
#footer-left, #footer-left a {
    color: #c2c2c2 !important;
    font-weight: 400;
}
/* footer social background color width */
.dt-social li {
    width: 40px !important;
    text-align: center;
}
.dt-social li:hover {
    background-color: #B21F25;
}
.footer-left #footer-left .dt-social a {
    color: #FFF;
}
.home-check-list h4 {
    font-size: 15px !important;
    font-weight: 600;
    color: #f2f2f2;
}
.dt-counto {
    font-family: 'montserrat' !important;
    font-size: 50px;
    margin-top: -155px;
    margin-left: 105px;
    margin-right: 55px;
}
.counter-text {
    font-size: 19px;
    font-weight: 600;
    text-align: center;
    line-height: 22px;
    color: #686868;
}
.dt-counto:after {
    background: transparent;
    content: "%";
    float: left;
    position: relative;
    margin-top: 15px;
}
.counter1 {
    color: #B11C1D;
}
.counter2 {
    color: #686868;
}
.counter3 {
    color: #52BBB7;
}
.nosidebar .box-container {
     overflow: inherit !important;
} 
p.contact-left-first {
    font-size: 26px;
    line-height: 24px;
    font-weight: 500;
}
p.contact-left-second {
    font-size: 28px;
    line-height: 26px;
    font-weight: 700;
    margin-top: -5px;
}
p.contact-left-third {
    font-size: 15px;
    line-height: 20px;
    color: #686868;
    margin-right: 38px;
    font-weight: 500;
}
p.contact-left-third span {
    font-weight: bold;    
}
.contact-input {
    border-bottom: 2px solid #ccc;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    width: 40% !important;
    margin-left: 5px;
    color: #333333 !important;
}
.contact-input-message {
    border-bottom: 2px solid #ccc !important;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    width: 95% !important;
    margin-left: 5px;
    color: #333333 !important;
}
.contact-input::-webkit-input-placeholder, .contact-input-message::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    color: #A0A0A0;
}
.contact-input::-moz-placeholder, .contact-input-message::-moz-placeholder  { /* Firefox 19+ */
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    color: #A0A0A0;
}
.contact-input:-ms-input-placeholder, .contact-input-message:-ms-input-placeholder  { /* IE 10+ */
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    color: #A0A0A0;
}
.contact-input:-moz-placeholder, .contact-input-message:-moz-placeholder  { /* Firefox 18- */
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    color: #A0A0A0;
}
form.wpcf7-form div span {
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    color: #A0A0A0;
}
form.wpcf7-form strong {
    font-size: 18px;
}
form.wpcf7-form div {
    margin-bottom: 5px;
}
input.wpcf7-form-control.wpcf7-submit.contact-submit {
    background-image: url('/wp-content/uploads/2018/01/right-arrow-icon-1.png');
    background-size: 40px 40px !important;
    background-repeat: no-repeat;
    color: transparent;
    border: none;
    height: 50px;
    background-color: #FFF !important; 
}
.more-details .vc_toggle_content ul {
    margin-left: -45px !important;
}
.more-details .vc_toggle_content ul li {
    font-weight: 400;
}
.banner {
    font-family: 'montserrat' !important;
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.85) !important;
    border-radius: 5px;
}
.countdown-section {
    display: block;
    float: left;
    font-size: 60% !important;
    text-align: center;
}
#countdown_4 span.countdown-amount {
    border: none !important;
    margin-top: -30px !important;
    font-weight: 700;
}
#countdown_4 span.countdown-period {
    font-size: 12px !important;
    margin-top: -30px !important;
    font-weight: 400;
}
/* to hide menu bar and footer only on landing page */
.page-id-12880 {
    font-family: 'Montserrat', sans-serif !important;
}
.page-id-12880 #head-page {
    display: none;
}
.page-id-12880 #footer {
    display: none;
}
.page-id-12880 .dt-iconboxes.layout-7 i {
    color: #FFFFFF !important;
}

#landing-footer, #landing-footer a {
    color: #c2c2c2 !important;
    font-weight: 400;
}
.wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok {
    margin-top: -110px;
    color: green;
}
span.wpcf7-not-valid-tip {
    color: #f00 !important;
    font-size: 16px !important;
    font-weight: normal !important;
    display: block !important;
}
/* to remove horizontal scroll bar at bottom on the landing page*/
#landing-footer .vc_row {
    margin-right: 0px;
}
/* to hide chatbox at bottom */

iframe#drift-widget {
    display: none !important;
}
/* for logo transform div is pending*/
#landing-page-logo img {
    transform: none !important;
}
#landing-footer a i.icon-facebook, #landing-footer a i.icon-twitter, #landing-footer a i.icon-gplus, #landing-footer a i.icon-linkedin {
    color: #FFFFFF !important;
}
#landing-footer a i.icon-facebook:hover, #landing-footer a i.icon-twitter:hover, #landing-footer a i.icon-gplus:hover, #landing-footer a i.icon-linkedin:hover {
    color: #FFFFFF !important;
}

/* responsive css */

@media only screen and (max-width: 767px) and (orientation: portrait) {
    .dt-counto {
        font-family: 'montserrat' !important;
        font-size: 50px;
        margin-top: -155px;
        margin-left: 75px;
        margin-right: 30px;
    }
    /* css for watch demos section */
    .vc_custom_1516803377979 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    /* for contact section */
    .vc_custom_1516888841993 {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .contact-input {
        width: 90% !important;
    }
}
@media only screen and (max-width: 980px) and (min-width: 768px) {
.vc_row.wpb_row.vc_inner.vc_row-fluid.margin-240px {
    margin-top: -220px;
}
}
@media only screen and (max-width: 980px) {
        div#rev_slider_23_1 {
        /* height: 300px!important; */
        min-height: 410px;
        }
        .vc_custom_1517219583610 {
            /*margin-top: 356px!important;*/
            line-height: 3!important;
        }
        div#slide-37-layer-13 {
            margin-top: 0px!important;
        }
        div#slide-37-layer-11 {
            margin-top: -150px!important;
        }
        .tp-mask-wrap {
            max-width: fit-content!important;
        }
        .vc_custom_1517211230461 {
            margin-top: -322px !important;
            margin-left: 0px !important;
        }
        .tp-mask-wrap {
            max-width: 217px!important;
        }
        div#slide-37-layer-13 {
                text-align: center!important;
        }
        .vc_custom_1517211230461 {
            margin-top: -23px !important;
        }
    }
    @media only screen and (max-width: 768px){
        .tp-mask-wrap {
            max-width: 217px!important;
        }
        .banner {
            width: 94%;
            margin: 0px auto!important;
        }
        .vc_custom_1517219583610 {
            margin-top: 154px!important;
            line-height: 3!important;
        }
}
@media only screen and (max-width: 680px) {

    div#rev_slider_23_1 {
        /* height: 300px!important; */
        min-height: 300px;
    }
    .banner {
        margin-top: 404px;
    }
    .fullwidthbanner-container .fullwidthabanner {
        width: 100%;
        position: relative;
        min-height: 300px;
    }

    .tp-bgimg.defaultimg {
        background-size: cover!important;
        background-position: right!important;
    }
    .tp-parallax-wrap {
        top: 166px!important;
    }
    div#slide-37-layer-7 {
    margin-top: -115px!important;
    }
    div#slide-37-layer-11 {
        margin-top: -59px!important;
        font-size: 11px!important;
    }

    div#slide-37-layer-7 img {
        width: 396px!important;
        height: auto!important;
        left: -86px;
    }
    .tp-parallax-wrap {
    left: 0!important;
    }
    div#slide-37-layer-13 {
        margin-top: -38px!important;
    }
    div#slide-37-layer-10 img {
        width: 132px!important;
        height: 117px!important;
        float: right;
        margin-top: 41px!important;
    }
    div#slide-37-layer-9 img {
        height: 42px!important;
        width: 181px !important;
        float:right;
    }
    .vc_custom_1517211230461 {
        margin-left: none!important;
    }
    .dt-countdown {
        line-height: 3.5;
    }
    .vc_custom_1516888841993 {
    margin-right: 0px!important;
    margin-left: 0px!important;
    }
    .container.dt-container strong {
        font-size: 14px!important;
    }   
   input, input::placeholder {
    font-size: 14px!important; 
    }
    .vc_custom_1516888841993 {
    margin-right: -20px !important;
    margin-left: -20px !important;
    }
    .dt-container strong {
    font-size: 14px!important;
    }
    #contact strong{
        font-size: 14px!important;
    }
    .vc_custom_1517395907421 h4 {
        max-width: 233px!important;
    }
}



@media only screen and (min-width: 768px) {

.vc_custom_1517211230461 {

    margin-top: 25px !important;

}

}
@media only screen and (min-width:980px) {
    .margin240px{
    margin-top: -240px!important;
}
    }