@media only screen and (min-width:1024px){
	.main-header .navbar .sidebar-toggle {
    display: none;
	}
    .userIcon2{
         display: none;
    }
    
    .secondcol {
    border: none!important;
    padding-left: 15px;
}
    
    
    
}


/*----------------------------iPhone and iPad---------------------------------------------*/
/*
@media only screen and (max-width:375px){
    .newoffer{
        width: 95%!important;
    padding-right: 10px!important;
    }
	}
*/



@media only screen and (max-width:480px){
	.secondcol{
		border: none!important;
		padding-left: 15px;
	}

	.col1 {
    width: 10%;
	}

	.col3{
		float: none;
	}

	.fc-left {
 margin-top: 45px;
  margin-left: 0px;
}

.fc-toolbar .fc-left {
    float: none!important;
    margin-left: 70px!important;
}

.newoffer { 
width: 97%!important;
padding-right: 5px!important;
}

.newoffer button {  
padding: 9px 7px !important;
margin-left: 20px;
font-size: 9px !important;

}


.fc-toolbar {   
 margin-bottom: 2em;
  background-color: #fff;
  height: 65px; 
 margin-top: -15px;
 padding: 20px 10px 80px;
}

.fc-today-button {
    margin-top: 0px !important;
}

.mob{
	    margin-right: -102px;
        margin-left: -25px;
    }
    
    .view .dss {
    padding: 4px 3px;
    }
    
    .colon strong{
        display: none;
    }
    
    .hidecol{
        display: none;
    }
    
    .datecol{
        padding-left: 15px!important;
    }
    
    .theading {
    line-height: 2;
    }
    
    
    .width110{
        width: 110%;
    margin: 0px auto;
    }
    
    
    
    label .uname{
        color: black;
    }
    
    .userIcon2 .dropdown-menu > li > a {
    color: white!important;
    }
    
    .userIcon2 .dropdown-menu > li > a:hover {
    color: black!important;
    }

}

@media only screen and (max-width:768px){
	.secondcol{
		border: none!important;
		padding-left: 15px;
	}

	.col1 {
    width: 10%;
	}

	.col3{
		float: none;
	}

		.fc-left {
 margin-top: 45px;
  margin-left: 0px;
}

.fc-toolbar .fc-left {
    float: none!important;
}

.newoffer { 
width: 50%;
padding-right: 5px;
}

.newoffer button {  
padding: 9px 7px !important;
margin-left: 20px;
font-size: 9px !important;

}


.fc-toolbar {   
 margin-bottom: 2em;
  background-color: #fff;
  height: 65px; 
 margin-top: -15px;
 padding: 20px 10px 80px;
}

.fc-today-button {
    margin-top: 0px !important;
}
    
       .userIcon2 .dropdown-menu > li > a {
    color: white!important;
    }
    
    .userIcon2 .dropdown-menu > li > a:hover {
    color: black!important;
    }

}


@media screen  and (min-width: 1600px) 

 { 
      
      .sidebar a {
    
    font-size: 14px!important;
     
     }
     
     .view label {
    font-size: 16px;
    
     }
     
     .updateform .form-control {
    height: 40px;
    font-size: 14px!important;
     }
     
     .panel-body label{
         font-size: 14px!important;
     }
     
      .panel-body label .addrow{
         font-size: 14px!important;
     }
     
     .form-group label{
             font-size: 14px!important;
     }
     
     body{
         font-size: 14px;
     }
     
     .col-container {
    font-size: 16px;
     }
     
     .strongText2 {
    font-size: 14px;
     }
     
     .btn {
    font-size: 14px!important;
     }
     
     .view .dss {
    font-size: 14px!important;
     }
     
     .view .titles {
    font-size: 14px;
     }
     
     .panel-body .fa{
             font-size: 25px!important;
     }
     
     .userIcon label {
    color: #fff;
    font-size: 14px;
     }
     
     .small1 {
    font-size: 11px;
     }
     
     .checklabel{
	font-size: 14px!important;
    font-weight: 500;

}
     
     .fc-toolbar h2 {
    font-weight: 500;

}

}



/*------------------------------------------------------------------------------------*/

@media (min-width: 768px) and (orientation: portrait) {
.navbar-nav>li {
    float: left;
    display: none;
}
}


@media (min-width: 1024px) and (orientation: portrait) {
.navbar-nav>li {
    float: left;
    display: inherit;
}
}

@media only screen and (min-width:1400px){
    
    #contentSectionFont {
    padding: 1px 1px 1px 2px;

}

.main-sidebar, .left-side {
    width: 240px!important;
    height: 110vh;
}
    
    .myPage {
    padding: 30px 30px !important;
}
    
    .table-box {
    margin-left: 50px;
}
    
    .fc-day-grid-container.fc-scroller {
    height: 740px!important;
}
.fc-basic-view .fc-body .fc-row {
    min-height: 9em!important;
}
    

.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu > li.header {
    white-space: nowrap;
    overflow: visible;
}
    
    .main-sidebar, .left-side {
    min-height: auto;
}

.content-wrapper, .right-side, .main-footer {
    margin-left: 240px;
}
    
    

.fc-row.fc-widget-header {
    margin-right: 0px !important;
}
    
    ul.sidebar-menu {
    height: -webkit-fill-available!important;
}
    
    .newoffer {
    margin-top: 11px;
}

.views select {
    font-size: 12px;
    height: 35px;
}

.fc-toolbar button {
    height: 32px !important;
}
    
    .fc button .fc-icon {
    top: -5px;

}
    
    .sidebar-menu .form-check-label{
        font-weight: 500 !important;
    }
    
    .checkmark {
    top: 5px;
}
    
}

@media only screen and (min-width:1280px){
    .newoffer button {
     margin-left: 0px !important; 
}
    
}


/**-*-*-***-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-***/
.userIcon2 button {
	height: 40px;
	width: 40px;
	border-radius: 20px;
	border: none;
	font-size: 18px;
	margin: 10px;
    color: #222d32;
	cursor: default;
	background: rgb(0, 255, 204);
}

.userIcon2 label {
/*	color: #fff;*/
	font-size: 11px;
}

.userIcon2 .dropdown-menu{
	background-color: #222d32;
	
}

.userIcon2 .dropdown-menu > li > a {
/*    color: white;*/
}
@media screen and (min-width: 1024px) {
div#updateGroupPanel {
    padding-left: 25px;
}
}
/* ipad */
@media screen and (max-width: 768px) {
    div#updateSitePanel {
        margin-left: 15px;
    }
   .newoffer {
        width: 66%!important;
    }
    .panel {   
        padding-left: 0;
    }
    .panel-body {
    padding: 10px 20px;
    overflow: scroll;
    }
    .userIcon2 button {
    font-size: 14px;
    }
      .col-md-6.text-center.titleText {
    max-width: 216px;
    float: right;
    }
    .modal  .ng-binding {
        text-align: center;
    }
    h4.modal-title.text-center.ng-binding {
        text-align: center!important;
    }
    .strongText {
    font-size: 20px;
    }
}
@media screen and (max-width: 768px) and (min-width: 680px) {
.CalenderView .fc-toolbar .fc-right {
    float: left!important;
}
}
  /* ipad */
@media screen and (max-width: 980px) {
    .col-md-6.text-center.titleText {
        max-width: fit-content!important;
        float: right;
    }
}
  /* For portrait layouts only */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {

    .newoffer {
        width: 87%!important;
    }
    .strongText {
    font-size: 20px;
    }
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .newoffer button {
        margin-left: 0;
    }
      .navbar-brand {
    float: right;   
      }
      .col-md-6.text-center.titleText {
    max-width: 216px;
    float: right;
    font-size: 12px;
}
      .fc-toolbar .fc-left .fc-icon {
    width: 2em!important;
}
}
/* iphonex  Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
.newoffer {
    width: 60%!important;
}
      .CalenderView .fc-toolbar .fc-right {
    float: left!important;
    margin-top: -25px;
}
}
/*  ipad pro */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
      
    .newoffer {
    width: 60%!important;
      }
}
