/*----------Fonts------------*/
@font-face {
    font-family: GothamBook;
    src: url('../fonts/new-gotham/Gotham Full Font Family/Gotham-Book.otf');
}

@font-face {
    font-family: Merriweather;
    src: url(../fonts/Merriweather-Regular.ttf);
}

@font-face {
    font-family: 'Atlas Grotesk Web';
    src: url(../fonts/AtlasGrotesk-Medium-Web.eot);
    src: url(../fonts/AtlasGrotesk-Medium-Web.eot?#iefix) format('embedded-opentype'),
        url(../fonts/AtlasGrotesk-Medium-Web.woff2) format('woff2'),
        url(../fonts/AtlasGrotesk-Medium-Web.woff) format('woff');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i');

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    font-size: 12px;
    height: 30px;
}

html, body, /*form,*/ #wrap {
    min-height: 100%;
    height: auto;
    background: #f3f7fa;
    color: #000;
}

body {
    font-size: 1em;
    margin: 0 !important;
    overflow-x: hidden !important;
    /*font-family: Montserrat, sans-serif;*/
    /*font-family: 'Merriweather', serif;*/
    font-family: 'Atlas Grotesk Web';
    background: #f3f7fa;
}

.col-centered {
    float: none !important;
    margin: 0 auto !important;
}

#contentSectionFont {
    min-height: 100vh;
    /*new added*/
    padding: 1px 1px 1px 0px;
    background: #f4f7f9;
}

.error {
    color: #a94442;
    margin-bottom: 10px;
    line-height: 1.42857;
}

.success {
    color: green;
    margin-bottom: 10px;
    line-height: 1.42857;
}

.cursor {
    cursor: pointer;
}
/*-----------------------Top Navigation Home-------------*/
.navbar {
    height: 61px;
    border-radius: 0px;
}

.navbar img, .logo img {
    width: 265px;
    margin-top: -10px;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand
{
    margin-left: -15px;
    margin-top: -16px;
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    
}

/*.navbar-default {
background-color: #383f46;
border-color: #383f46;
}*/

.navbar-default {
    background-color: #445377;
    border-color: #445377;
}

.userIcon button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    font-size: 12px;
    margin: 10px;
    color: #222d32;
    cursor: default;
   background:rgba(216, 184, 255, 1);
}

.userIcon label {
    color: #fff;
    font-size: 11px;
}

.userIcon .dropdown-menu{
    background-color: #222d32;

}

.userIcon .dropdown-menu > li > a {
    color: white;
    cursor: pointer;
}


.logoutBtn {
    height: 25px;
    width: 25px;
    border-radius: 15px;
    font-size: 12px;
    background: #d20000;
    color: #fff;
    margin: 21px;
    border: none;
}

.screenTitle {		
    margin-left: 100px;
    margin-top: 16px;
    font-size: 20px;
    float: left;
    color: #fff;
}

/*--------------------------------Forgot Password---------------------*/

.fpsubmit{

    text-align: center;
    margin: 0px auto;

}

/*--------------------------------Home--------------------------------*/
.home {
    //background-image: url('../assets/images/background (1).png');
    //background-attachment: fixed;
    height: 100vh;
}

.home h3, .home .form-group {
    margin-bottom: 10px;
}

.sign-in {
    padding: 0 20px;
    text-align: left;
}

.sign-in button, .mainDrake button {
    background: #383f46;
    /* 	color: #fff;
    */	border-radius: 3px;
    text-transform: unset;
}


.bookingUpdates button {
    width: 100px;
    border-radius: 3px;
    margin-right: 0px;
}

.bookingUpdatebtns {
    margin-left: 15px;
}

/* .sign-in button:hover, .sign-in button:active, .sign-in button:focus,
.mainDrake button:hover, .mainDrake button:active, .mainDrake button:focus
{
background: #212223;
color: #fff;
} */

/* .sign-in span {
font-size: 13px;
cursor: pointer;
font-style: italic;
text-height: 6px;
text-decoration: underline;
} */
.WhiteBoxHeading {
    font-size: 26px;
    font-weight: 500;
    padding: 20px 0px;
}

.WhiteBoxFPHeading {
    font-size: 26px;
    font-weight: 700;
    padding: 20px 0px;
}


.loader {
    position: absolute;
    left: 52.5%;
    height: 130px;
    top: 330px;
    z-index: 10000;
}

.loader1 {
    position: absolute;
    left: 45.5%;
    height: 100px;
    top: 460px;
    z-index: 10000;
}

.toUppercase {
    text-transform: uppercase;
}

@import
    url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,500i,600,600i,700,700i,800,800i,900,900i')
    ;

body, html {
    height: 100%
}

body {
    background-color: #fcfcfc;
    /*font-family: 'Merriweather', sans-serif;*/
    font-family: 'Atlas Grotesk Web';
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.innerCleanbox {

    background-color: white;
    padding: 30px 15px;
    border: 1px solid #bfc5d1;
    height: 100%;
}

.innerCleanbox0 {

    background-color: white;
    padding: 10px 15px;
    border: 1px solid #bfc5d1;
    height: 100%;
    margin-bottom: 30px;
}

.innerCleanbox0 h4{
    padding-left: 20px;
}


.innerCleanbox2 {
    background-color: white;
    padding: 15px;
    border: 1px solid #bfc5d1;
    height: 100%;
}
.max1024px{
    max-width:1024px;
    border-top:2px solid #111820 ;
}
.max650px{
    max-width:700px;

}
.SelectText{
    font-size: 12px;
    font-weight: 900;
}
.WeekButtons .btn{
    border-radius:50px;
    margin:0px 5px;
}
.WeekButtons .btn-default {
    color: #333;
    background-color: #f7f7f7;
    border-color: transparent;
}
.greenbtn{
    color: #000;
    background-color: #00ffcc;
    margin: 0px;
    padding: 2px 0px; 
    width: 100%;
}
.redbtn{
    color: #000;
    background-color: #f88c9b;
}
.redbtn:hover{
    color: #fff;
    background-color: #e67a89;
}
.topbottom{
    margin: 10px 0px;
}
.subBtn{
    border-radius:5px;
    margin:0px 10px;
    min-width:100px;
}
.WeekButtons .btn-default:hover {
    color: #000;
    background-color: #00ffcc ;
    border-color: transparent;
}
.viewSlotSelect {
    margin-top: 10px;
    font-size: 12px;
    height: 25px;
    padding-left: 5px !important;
    background: #E4E4E4;
    border: none;
    width: 120px;
    margin-left: 20px;
    font-weight: 700;
}

.innerCleanbox1 {
    background-color: white;
    padding: 10px 0px;
    /* border: 1px solid #bfc5d1; */
    height: 100%;
}

/*-----------------------Dashboard-------------------*/
.dashboardTiles .panel {
    padding-bottom: 10px;
    cursor: pointer;
}

.activityPanel .panel {
    margin-top: 10px;
    padding-bottom: 10px;
}

.activityPanel .title {
    font-size: 14px;
    font-weight: bold;
    margin-left: 45px;
    margin-top: 15px;
}

.activity {
    margin-top: 20px;
    padding-right: 25px;
    padding-left: 45px;
}

.activity .time {
    /*    margin-left: 45px;*/
    color: grey;
    margin-bottom: 5px;
}

.activity .editIcon {
    width: 30px;
    float: left;
    margin-left: 14px;
    font-size: 16px;
    cursor: pointer;
}

/*.moreActivity {
margin-top: 30px;
}*/

.moreActivity span {
    font-size: 15px;
    color: #d20000;
    cursor: pointer;
}


/*---------------------main drake-----------------*/
.mainDrake input {
    height: 32px;
    border: none;
    background: rgba(162, 162, 162, 0.32);
    padding: 10px;
    font-size: 11px;
}

.mainDrake textarea, .mainDrake select, .endOfMonthTrigger select {
    border: none;
    background: rgba(162, 162, 162, 0.32);
    padding: 10px;
    font-size: 11px;
    padding-right: 0px !important;
}

.endOfMonthTrigger select {
    background-color: #fff;
    border: 1px solid #ccc;
}

.mainDrake button {
    margin-right: 30px;
}

.mainDrake .btn-close {
    background: #d20000 !important;
}

.mainDrakForm .calendar {
    font-size: 20px;
    color: grey;
    padding: 0px;
}

.mainDrakFields {
    margin: 40px 0px;
    font-size: 12px;
}

.asRunTbl {
    padding-left: 25px;
    padding-right: 25px;
}

.asRun table {
    width: 87%;
    float: right;
}

.asRun .asRunBtns {
    width: 50px;
    float: left;
    margin-top: 100px;
}

.asRun .asRunBtns button {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    color: #fff;
    border: none;
    margin-top: 15px;
}

.asRun hr {
    margin-left: 60px;
}

.asRunLbls {
    margin-top: 10px;
    margin-left: 10px;
}

.asRunLbls span {
    color: #2196F3;
    font-style: italic;
}

.asRunLbls p {
    margin-top: 15px;
    font-size: 12px;
}

.asRunRightSideLbl {
    font-size: 16px !important;
    margin-top: 50px !important;
    color: red !important;
}

.asRunAllBtns .radio {
    width: 60px;
    float: left;
    margin-top: 0px;
}

.asRunAllBtns .radio input {
    margin-top: -10px;
}

.asRunAllBtns button {
    width: auto;
    margin: 0px;
    font-size: 12px;
}

.asRunPopup .panel {
    width: 70%;
}

.asRunPopup .col-xs-3 {
    margin-left: 25px;
}

.asRunPopup .Restore {
    padding-left: 53px;
}

.asRunPopup button {
    margin-right: 10px;
}

.asRunPopup #date {
    width: 48%;
    float: left;
    margin-right: 10px;
    font-size: 11px;
}

.asRunPopup .error {
    margin-top: 12px;
    margin-left: 38px;
}

.asRunPopup .dateLbl {
    /*    float: left;*/
    color: #383f46;
    font-style: normal;
    margin-right: 10px;
    font-weight: normal;
}

.asRunPopup .radio {
    margin: 0px;
}

.asRunPopup .radio input {
    margin-top: -2px;
}

.changeTime .col-xs-5 {
    padding-left: 35px;
}

.changeTimeForm input {
    width: 60%;
    margin-bottom: 5px;
    float: right;
    font-size: 10px;
    font-style: normal;
}

.changeTimeForm label {
    margin-bottom: 10px;
}

.changeTimeForm .col-xs-12 {
    margin-bottom: 15px;
}

.eventTitle {
    width: 156px;
}

.viewDrakeBtns {
    margin-top: 20px;
}

.viewDrakeBtns button {
    width: 90px;
}

.trbtn i {
    margin-left: -3px;
}
/*--------------------Admin------------------*/
.instruction {
    margin-top: 10px;
    font-style: italic;
    color: #A2A29C;
}

.sbsBtns button {
    width: 80px;
    margin: 0px;
}

/*.sub-nav ul, .sub-nav ul li ul { display: none;}*/
.sbsParamsLbl {
    font-style: italic;
    color: #2196F3;
}

.sbsParamsDescBox {
    height: 400px;
    background: #f3f3f3;
    padding-top: 15px;
    color: #2196F3;
}

.endOfMonthTrigger .panel {
    border: none;
    padding: 0px;
    border-radius: 2px;
    float: left;
    margin-top: 100px;
    min-width: 300px;
}

#programGuides button, #promoOptimiser button {
    background: #383f46;
    color: #fff;
    width: 100px;
    border-radius: 3px;
}

#programGuides label, #promoOptimiser label {
    font-size: 15px;
}

#availList label, .promoOptimiserAll label {
    font-size: 16px;
}

#availList .modal-dialog, #eProp .modal-dialog, #radioSchedule .modal-dialog
{
    margin-left: 500px;
    width: 400px;
}

#eProp .userLbl {
    padding-left: 44px;
}

.sbsParamsTbl {
    height: 500px;
}

.checkbox label {
    font-size: 12px;
    font-weight: bold;
}

.reportSysBtn {
    width: 25px !important;
    border-radius: 12px !important;
    border: none;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    margin: 0px !important;
    background: #383f46;
    color: #fff;
}

/*----------input addons----------*/
.left-inner-addon {
    position: relative;
    width: 100%;
    /*    display: flex;*/
}
/*.left-inner-addon input:focus {
border:1px solid red;
}*/
.left-inner-addon input {
    width: 90%;
    margin: 0 auto;
    height: 38px;
    border: none;
    background: #edf0f5;
    padding: 10px;
    padding-left: 40px;
    font-size: 14px;

}

.left-inner-addon i {
    position: absolute;
    padding: 10px 15px;
    pointer-events: none;
    font-size:14px;
    color:#555;

}

.right-inner-addon {
    position: relative;
}

.right-inner-addon input {
    padding-right: 30px;
}

.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 11px 12px;
    pointer-events: none;
}

/*-------------auto complete-----------------*/
.ui-autocomplete {
    background: #fff;
    border-radius: 0px;
    width: 18em;
    padding: 0 !important;
    list-style: none;
}

.ui-autocomplete li:hover {
    background: #f2f2f2;
    cursor: pointer;
}

.ui-autocomplete, .ui-menu-item {
    z-index: 1999 !important;
}

.ui-autocomplete .ui-menu-item {
    padding: 5px !important;
}

.ui-autocomplete .ui-menu-item:hover {
    background-color: #3875d7;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(20%, #3875d7),
        color-stop(90%, #2a62bc));
    background-image: -webkit-linear-gradient(#3875d7 20%, #2a62bc 90%);
    background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
    color: #fff
}

/*-----------------------Side bar & hierarchical menu----------------*/
/*.open>ul li {
padding-left: 10px;
padding-top: 3px;
}*/

ul>li a:hover, .open>a, .activeLink a {
    background-color: #dbdcdc ;
    color: #000;
}
.sidebar-menu > li > a {
    border-left: none!important	;
}
.group-lvl>ul>li>a {
    padding: 5px 0px 0px 0px;
    display: block;
}

.hierarchy-menu.sub-nav>a:before, .hierarchy-menu.sub-nav>li>a:before,
.group-lvl>a:before {
    display: none;
    position: absolute;
    left: 170px;
    top: 13px;
    content: '';
    width: 5px;
    height: 5px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.hierarchy-menu.sub-nav.open>a:before, .group-lvl.subOpen>a:before,
.group-lvl.sub-nav.open>a:before {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.hierarchy-menu ul {
    list-style: none;
    margin: 0;
    padding: 10px 0 0 0;
    position: relative;
}

.hierarchy-menu ul ul:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 27px;
    left: 6px;

    /*  border-left: 1px dashed #373E4B;*/
}

.hierarchy-menu>ul {
    padding: 0px 0 0px 15px;
}

.hierarchy-menu>ul ul {
    padding-left: 16px;
}

/* List items */
.hierarchy-menu ul li {
    display: block;
    position: relative;
}

.hierarchy-menu>ul ul li:before {
    content: '';
    display: block;
    height: 0px;
    width: 20px;
    /*  border-bottom: 1px solid #7A7F87;*/
    position: absolute;
    left: -10px;
    top: 16px;
}

.hierarchy-menu>ul ul li:after {
    content: '';
    display: block;
    height: 43px;
    width: 0;
    /*  border-left: 1px solid #7A7F87;*/
    position: absolute;
    left: -10px;
    top: -27px;
}

.hierarchy-menu>ul ul li.group-lvl:before {
    width: 7px;
}

.hierarchy-menu>ul ul li:first-child:after {
    height: 28px;
    top: -12px;
}

/* Links */
.hierarchy-menu ul a {
    display: block;
    padding: 9px 18px;
    height: 30px;
    position: relative;
    /*  color: rgba(255,255,255,0.5);*/
    transition: 100ms;
}
/*.hierarchy-menu ul a:hover {
color: rgba(255,255,255,1);
}*/
.hierarchy-menu ul a.active {
    color: #39C;
}

.hierarchy-menu li.sub-nav>ul {
    display: block;
    margin-top: -5px;
}

.hierarchy-menu li.sub-nav.open>ul {
    display: block;
}

.sidebar a:hover {
    color: #000;
    font-weight: 500;
}
.sidebar a {
    color: #333333!important;
    font-size: 12px;
}

.checkAll {
    text-align: right;
    padding-right: 15px;
    height: 10px;
    position: absolute;
    top: 14px;
    right: 0;
}
/*-------------------------Tools modules---------------------*/
.spotStatusFields button {
    width: 100px;
    margin: 0;
}

.spotStatus select, .spotStatus input, .spotStatus textarea {
    background-color: rgba(230, 227, 227, 0.59);
}

.spotStatus .row:nth-child(1) {
    margin-top: 15px;
}

.eorrorRow {
    font-size: 15px;
    font-weight: bold;
}

/*label {
font-size: 11px;
margin-top: 10px;
margin-left: 12px;
}*/

.active {
    background: #dedada;
    border: 1px solid #fff;
}

.strongText {
    font-weight: 600;
    font-size: 25px;
}
.col1{
    width:3%;
    float:left;
}
.col2{
    width:90%;
    float:left;
}

.col3{
    width: 7%;
    float:left;
}

.col-container {
    display: inline-block;
    padding:15px 0px;
    font-size: 13px;
    min-width: 90%;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-color: #d0d0d0;
}
.strongText2 {
    font-weight: 500;
    font-size: 12px;
}
.s {
    font-weight: 700;
    font-size: medium;
}
.lightText{
    color:#bfc5d1 ;
    padding-left: 27px;
}
.top30Margin {
    margin-top: 30px;
}

.myPage {
    padding: 30px 10px !important;
}


.fa-chevron-down{
    color: black!important;
}
/*----------------Responsive page---------------*/

/*    // Extra small devices (portrait phones, less than 576px)*/
@media only screen and (max-width: 680px) {
    .pull-right {
        float: none!important;
    }
    .sign-in {
        text-align: center;
    }
    .top30Margin {
        margin: 5px -10px;
    }
}

/*// Small devices (landscape phones, 576px and up)*/
@media only screen and (min-width:576px) and (max-width:767px) {
}
/*// Small devices ( phones)*/
@media only screen and (max-width:767px) {
    .main-sidebar, .left-side {
        /*-webkit-transform: translate(-210px, 0) !important;*/
        -ms-transform: translate(-210px, 0) !important;
        -o-transform: translate(-210px, 0) !important;
        /*transform: translate(-210px, 0) !important;*/
    }
    .screenTitle {
        margin-left: 0px;
        margin-top: 0px;
        font-size: 20px;
        float: none;
        text-align: center;
    }
    .cleanBox2 {
        padding: 5px;
    }
    .row-eq-height {
        display: block;
    }
    .navbar-header {
        position: absolute;
    }
    .navbar-custom-menu {
        margin-top: -110px;
    }
    .screenTitle {
        padding-top: 70px;
    }
    .main-header .navbar .sidebar-toggle {
        height: -webkit-fill-available;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media only screen and (min-width:768px) and (max-width:991px) {
}

/*// Large devices (desktops, 992px and up)*/
@media only screen and (min-width:992px) and (max-width:1199px) {
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media ( min-width : 1200px) {
    .margin-left {
        margin-left: 15px;
    }
}
/* Modal Css */
.form-control {
   /* border: none;*/
    border: 1px solid #afbcd0
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #edf0f5;
}

.ModalHeaderBold {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.ModalHeader2Bold {
    font-size: 18px;
    line-height: 2.5;
    font-weight: 400;
}

.MyModalStyle .modal-header {
    padding: 15px 15px 0px;
    border-bottom: none;
}

.viewModalStyle .modal-header {
    padding: 0px 8px 0px;
    border-bottom: none;
    height: 5px;
    /* //background-color: #42fed9; */
}

/* .MyModalStyle .modal-body {
padding: 0px 15px;
} */

.modal-footer {
    border-top: none;
}

.MyModalStyle i.fa-usd, .MyModalStyle i.fa-bolt, .MyModalStyle i.fa-user
{
    position: absolute;
    top: 12px;
    left: 5px;
    font-weight: bold;
}

/*
.wrapper select, .wrapper input {
padding-left: 20px;
}
*/

.wrapper {
    position: relative;
}

.MyModalStyle label {
    margin-bottom: -15px;
}

.MyModalStyle .modal-body {
    position: relative;
    padding: 15px;
    min-height: 200px;
}

.endOfMonthTrigger select {
    background-color: #edf0f5 !important;
    border: none !important;
}

.form-control:focus {
    border-color: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn-Modal {
    background-color: #01fecd;
    border-color: transparent;
    font-weight: 500;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-Modal:hover {
    background-color: #07deb5;
}

.has-success .form-control {
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.has-feedback .form-control {
    padding-right: 0px;
}

.joinLabel {
    background-color: #edf0f5;
    width: 100%;
    padding: 10px;
    line-height: 2;
}
.textjoinLabel label {
    width: 100%;
    padding: 10px;
    font-size: 11px;
}
.textjoinLabel label b{
    font-weight: 900;
    font-size: 12px;
}
.input-group-addon {
    background-color: #edf0f5;
    border: none;
}

.fc-title {
    font-weight: bold;
    font-size: 10px;
}

.newoffer {
    color: black;
    font-weight: 900;
    font-size: 16px;
    float: right;
    padding-top: 0px;
    height: 25px;
    margin-left: 10px;
    margin-top: 14px;
    width: 45%;
    padding-right: 24px;
}

.newoffer button {
    background-color: #42fed9;
    border-color: #42fed9;
    margin: 0px;
    margin-left: 15px;
}

.newoffer .glyphicon {
    font-size: 13px;
    margin-right: 5px;
}

.fc-toolbar {
    margin-top: 10px;
    text-align: center;
}
.ng-isolate-scope.fc.fc-ltr.fc-unthemed {
    background-color: #fcfcfc;
}
.fc-toolbar h2 {
    font-size: 18px;
    padding-top: 4px;
    font-weight: 900;
    text-align:center;
}

.ng-isolate-scope.fc.fc-ltr.fc-unthemed {
    padding: 10px;
}
.fc-toolbar button {
    font-size: 15px;
    font-weight: 900;
    padding: 3px 3px 2px;
    background-color: #9e9e9e4a;
    height: 25px !important;
}

.titleText{
    color:white;
    font-size:15px;
    padding-top:20px;
}

#items{
    list-style:none;
    margin:0px;
    margin-top:4px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:3px;
    font-size:12px;
    color: #333333;
}
hr { width: 85%; 
    background-color:#E4E4E4;
    border-color:#E4E4E4;
    color:#E4E4E4;
}
#cntnr{
    display:none;
    position:fixed;
    border:1px solid #B2B2B2;
    width:150px;     
    background:#F9F9F9;
    box-shadow: 3px 3px 2px #E9E9E9;
    border-radius:4px;
    z-index: 1000;
    /*  width: 100px;*/
}
li{
    padding: 1px;
    padding-left:10px;
}
#items :hover{
    color: white;
    background:#284570;
    border-radius:2px;
}
.form-group .selecttime {
    padding-left: 7px;
    /* -moz-appearance: none; */
}
select{
    -moz-appearance: none;
    font-size: 12px;
    height: 30px;
}
/* 

.scrollable{
overflow: auto;
width: 70px; adjust this width depending to amount of text to display
height: 10px; adjust height depending on number of options to display
border: 1px silver solid;
}
.scrollable select{
border: none;
}
*/
.WhiteBox {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 90%;
    max-width: 400px;
    max-height: 380px;
    height: auto;
    background-color: #fff;
    z-index: 1;
    box-shadow: 2px 2px 5px #444;
    text-align: -webkit-center;
    padding: 20px 10px;
}

.WhiteBoxFP {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 90%;
    max-width: 400px;
    max-height: 300px;
    height: auto;
    background-color: #fff;
    z-index: 1;
    box-shadow: 2px 2px 5px #444;
    text-align: -webkit-center;
    padding: 20px 10px;
}

.WhiteBox2 {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 90%;
    max-width: 400px;
    max-height: 470px;
    height: auto;
    background-color: #fff;
    z-index: 1;
    box-shadow: 2px 2px 5px #444;
    text-align: -webkit-center;
    padding: 20px 10px;
}



.WhiteBox .btn-default, .WhiteBox2 .btn-default {
    color: #333;
    background-color: #00ffcc;
    padding: 7px 30px;
    font-weight: 600;
    font-size: 14px;
    border-color: transparent;
}

.WhiteBoxFP .btn-default, .WhiteBox2 .btn-default {
    color: #333;
    background-color: #00ffcc;
    padding: 7px 30px;
    font-weight: 600;
    font-size: 14px;
    border-color: transparent;
}

.WhiteBox .forgotPass {
    font-style: italic;
    font-weight: 700;
    text-decoration: underline;
    line-height: 3;
}
.WhiteBox .form-group, .WhiteBox2 .form-group {
    margin-bottom: 20px!important;
}
.WhiteBox .forgotPass {
    font-style: italic;
    font-size: 14px;
    font-weight: bolder;
    text-decoration: underline;
    line-height: 3;
}
.WhiteBox .form-control {
    height: 38px;
    font-size: 14px!important;
    line-height: 1.42857143;
    color: #555;
    background-color: #edf0f5;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.0);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.0);
}
.WhiteBox button.btn.btn-default:hover {
    background-color: #08ebbd;
    color: #333
}

.slotdate input {
    padding-left: 0px;
    /* background-color: white; */
    font-size: 15px;
    line-height: 2.5;
    font-weight: 600;
    color:black;
}
.main-sidebar, .left-side {
    width: 200px!important;
}
.fc-toolbar .fc-right{
    float:none!important;
}
.CalenderView .fc-toolbar .fc-right{
    float:right!important;
}
.fc th, .fc td {
    border-width: 1px!important;
}
.navbar img, .logo img {
    padding: 18px!important;
}
.fc-toolbar {
    text-align: center;
    margin-bottom: 4em;
    background-color: #fff;
    height: 65px;
    margin-top: -15px;
    padding: 20px 10px;
}

.fc-widget-header table thead tr th {
    text-transform: uppercase !important;
    font-size: 12px !important;
    font-weight: 700!important;
}

/* calendar view css */

.views {
    width:20%;
    float: left;
    margin-right: 10px;
    font-weight: 100;
    position: relative;
    cursor: pointer;
}

.views i {
    font-size: 13px;
    position: absolute;
    top: 8px;
    left: 6px;
}

.views select {
    font-size: 12px;
    height: 28px;
}

.fc-button-group {
    display: none !important;
}

.fc-prev-button,
.fc-next-button {
    border: none !important;
    background: transparent !important;
    box-shadow: none !important;
}

.fa-cog {
    float: right;
    margin-top: 10px;
    font-size: 14px;
}

.fc-event {
    border-radius: 0px !important;
    margin: 0px !important;
    padding: 2px 0px !important;
}

.modal-header .close {
    margin-top: 5px;
}

.modal-body {
    position: relative;
    padding: 0px;
    margin: 15px;
}

.fc-agendaDay-view .fc-title {
    text-align: left;
}

.ModalHeaderBold {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
}

.leave .fc-event-container {
    position: relative;
}

.highlight {
    color: #13f9cb!important;
}

.fc-agendaDay-view .leave {
    float: none !important;
}
.fc-month-view .fc-event-container a {
    /*    border-color: #fff !important;*/
    border: none !important;
}
.leave-view .leave {
    color: #e42c0f !important;
    /*    margin-top: 27% !important;*/
    /*    text-align: right !important;*/
    /*    padding-right: 10px !important;*/
    float: right;
    /*    display: block;*/
}
.fc-popover .leave {
    float: none;
}
.grey-color {
    color: #bfbaba !important;
}

.leave-view .leave-other {
    color: #e42c0f !important;
    margin-top: 24% !important;
    padding-right: 10px !important;
    text-align: left !important;
    padding-left: 10px !important;
}

/*.non-leave .leave-other,
.non-leave .leave {
display: none;
}*/

.fc-content {
    text-align: left;
}


/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 2px;
    left: 0px;
    height: 10px;
    width: 10px;
    /*border: 1px solid #675656;*/
    border-radius: 2px;

}

.checkmark2 {
    position: absolute;
    /*top: 0px;*/
    /*left: 0px;*/
    height: 13px;
    width: 13px;
    /*border: 1px solid #675656;*/
    border-radius: 2px;

}

/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark {
    background-color: #ccc;
    background-color: #2196F3;
}

/* When the checkbox is checked, add a blue background */
.container1 input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container1 input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */	
.container1 .checkmark:after {
    left: 3px;
    top: 1px;
    width: 4px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}}

.container1 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 11px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/*---------------------------Manage Users & Site---------------*/

.top-strip {ox
    margin-top: -15px;margin-left: 15px;
}

.table-box {
    margin-top: 15px;
    margin-left: 15px;
   /* border-top: 3px solid #222d32;*/
}

.table th {color: #2d2b2b;}
.userTables>tbody>tr>td {
    border-top: hidden;
}

.serviceTables>thead>tr>th { 
    border-bottom: hidden;
}

.table .fa {
    cursor: pointer;
    font-size: 13px;
}

.view { padding-top: 0px;}
.view label { font-size: 11px;color: #3f4042;}

.view .dss{
    /*s*/
    background-color: #e2e2e2;
    padding: 4px 10px;
    border-radius: 15px;
    font-size: 10px!important;
}

.view .titles {
    font-size: 10px;
    /*color: #a2a2a2;*/
    color: #4e4d4d;
}

.view .row {
    margin-top: 5px;
}

.siteTable tbody tr td {
    border-bottom: 1px solid #cccccc;
}

.siteTable label{
    font-weight: 500;
}

.userTables label{
    font-weight: 500;
}

/********************Update site textboxes***********/


.updateform select, .updateform input {
    padding-left: 6px;
}

.updateform .form-control  {
    height: 29px;
    font-size: 10px!important;
}

.updateform .input-group-addon{

    height: 29px;
    font-size: 10px!important;
    border-right: solid 1px;
    border-color: #a7a7a7;
}

.updateform .input-group-addon .offer{

    height: 29px;
    font-size: 10px!important;
    border: none!important;
}

.addrow{
    text-decoration: underline!important;
    font-style: italic;

}

.row .view .day{
    border-bottom: 1px solid;
}

.updatebtn{
    background-color:  #42fed9;
    margin: 0px auto;
}



/*--------------------Rounded switch button-----------*/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 10px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 11px;
    width: 10px;
    left: 1px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #222d32;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 10px;
    height: 15px;
    width: 24px
}

.slider.round:before {
    border-radius: 50%;
}


/*-----------status-------------*/

.completed {
    border-left: 4px solid #a4bdfc !important;
}

.awaiting {
    border-left: 4px solid #f8ab3c !important;
}

.deleted {
    border-left: 4px solid #f88c9b !important;
}

/*-------------Slots and offers------------*/

.days {
    margin-left: 2px;
    background: #edf0f2;
    padding: 4px 15px;
    border-radius: 11px;
    font-size: 11px;
    font-weight: bold;
}
.date-selector { 
    background: #f4f4f6;
    padding: 2px 10px;
}

.fa-chevron-circle-left,.fa-chevron-circle-right { 
    font-size: 13px;
    cursor: pointer;
}
.actions .h4 {
    margin-left: 10px;
    margin-right: 10px;
}
.schedule .slot-tile { 
    border: 1px solid #e0d9d9e0;
}
.slot-tile {
    border: 1px solid #a2a2a2;
    border-right: 1px solid #a2a2a2;
    border-bottom: 1px solid #c2c2c2;
    margin-left:15px;
    border-radius: 3px !important;
}

.panel {
    margin-bottom: 0px;
    padding-left: 20px;
    border-left: 1px solid #d2d2d2;
}
.slot-tile p {
    margin: 0px;
    font-size: 8px;
    color: #a2a2a2;
}

.slot-tile label{
    margin: 0px;
    font-size: 11px;
    /*  font-weight: 900; */
}

.slot-tile .col-lg-2 {
    padding: 8px;
}
.slot-tile.time{
    margin-top:15px; 
    border-left: 4px solid #111820;
    padding-top: 7px;
    height: 40px
}
.fa-check-circle {
    font-size: 18px;
    cursor: pointer;
}

.fa-chevron-circle-left, .fa-chevron-circle-right {
    margin: 6px;
}

.slots .btn {
    font-size: 10px;
    /* background: white; */
    /*    padding: 0px;*/
    /* font-size: 11px;
    font-weight: 900;
    width: 100px;
    height: 25px;
    */
}

.yellow-br {
    border-left: 4px solid #111820 ;
}

.blue-br {
    border-left: 4px solid #01ffcd;
}

.fc-unthemed th, .fc-unthemed td, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-popover {
    border-color: #1212 !important;   
}

.fc-widget-header table thead tr th {
    padding-top: 10px !important;
    height: 20px !important;
    font-weight: 900;
}


.btn-weekday {
    background-color: #01fecd;
    border-color: transparent;
    font-weight: 700;
    /* text-transform: uppercase; */
    /*  font-weight: bold; */
    border-radius: 17px;
    width: 80px;
    margin-right: 7px;
    font-size: 11px;
    /* height: 25px; */
}
.btn-cancel {
    background-color: #d6d9e0;
    border-color: transparent;
    font-weight: 500;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 15px;
}
.btn-create {
    background-color: #01fecd;
    border-color: transparent;
    font-weight: 500;
    text-transform: uppercase;
    font-weight: bold;
}
.createRoster label {
    font-size: 12px;
    font-weight: 500;
}
.newroster{
    margin-left: 14px;
    font-size: 15px;
}
.createOffer label {
    font-size: 12px;
    font-weight: 500;
}
.newoffer1{
    margin-left: 14px;
    font-size: 15px;
}

.head {
    padding: 0px !important;
}
.fa-times-circle-o {
    cursor: pointer; 
}
.fa-arrow-circle-o-left {
    cursor: pointer; 
}

/* calendar view css */

.fc-day-grid .fc-row:nth-child(6)/*, .table-condensed tbody tr:nth-child(6)*/ {
    display: none;
} 

.fc-toolbar h2 {
    height: 29px;
    background: #edf0f5;
    padding: 8px 18px;
    font-size: 11px !important;
    border-radius: 4px;
}

.ng-isolate-scope.fc.fc-ltr.fc-unthemed {
    background: #edf0f5;
}

.fc-toolbar, .fc-view-container {
    background: rgb(206, 239, 237);
}

label.form-check-label.ng-binding {
    padding-left: 20px;
}

/*
Font Family : Montserrat
Medium for thick
Regular for thin
Yellow - #fbbc05
Orange - #ff7e00
Green - #34a853
Blue - #4285f4
Black - #111820
Grey - #b4b4b4
*/



/*---------------------Multiselect Datepicker------------*/
.picker-day{ 
    border: hidden;
    border-radius: 15px;
    height: 26px;
    padding-top: 7px;
    margin: 2px;
}

#acceptAll p, #rejectAll p {margin: 10px 0 0px;}
.acceptAll .picker-day.picker-selected, .counterOffer .picker-day.picker-selected {
    background-color: #00ffcc;
}

.rejectAll .picker-day.picker-selected {
    background-color: #f88c9b;
}

.counterOffer p { margin: 0px;}
.submit-btn {     
    width: 37%;
    background: #00ffcc;
    font-weight: bold;
}


/*---------------Scollable table--------------*/

.sbsScrollableTables thead, .sbsScrollableTables tbody { display: block; }
.sbsScrollableTables tbody {
    overflow-y: auto;
    max-height: 200px;
    min-height: 200px;
}

.width100 {
    width: 100px;
}

.width90 {
    width: 90px;
}
.headingSmall{
    font-size: 15px;
    font-weight: 700;
    margin: 15px 0px;
    display: block;
}
.slideLine{
    border-right: 1px solid #ccc;
}
.slideLine2{
    border-left: 1px solid #ccc;
}

.greenBtn{
    background-color: #00ffcc;
    color: #000;
    font-weight: 600;
    border: 1px solid #00c7a0;
}
.greenBtn:hover{
    background-color: #00c7a0;
    color: #fff;

    border: 1px solid #00c7a0;

}

.btn{
    text-transform: uppercase;
    margin: 0px 10px;
    font-size: 11px!important;
    padding: 7px 30px;
    border-radius: 2px;
    font-weight: 600;
    margin-top: 20px;
    background-color: #1d4457;
    color: #fff;
}

.btn-sm{
    padding: 5px 7px;
}



.theading{
    font-size: 11px;
    text-transform: uppercase;
   
    color: #969696;
    line-height: 3;
}

.viewoffer{
    /*	padding-left: 50px!important;*/
    padding-bottom: 10px!important;
}

.viewoffer .smallinput{
    margin-bottom: 5px!important;
}
.viewoffer .smallinputCounter{
    margin-bottom: 0px!important;
    min-width: 56px!important;
}


/*.viewoffer .label-text{
padding-left: 5px!important;
}*/

.divide1{
    margin: 10px 0px;
}
.newOffer label{ 
    font-size: 13px;
    font-weight: 600;
    color: #000;
}
.text-right{
    text-align: right;
}
.newOffer .form-control {
    border: none;
    border-radius: 2px;
    height: 24px!important;
}
.newOffer input[type="checkbox"] {
    margin-top: 3px!important;
}
.newOffer input {
    padding: 0px 5px!important;
    margin: 2px;
}
.marginTab{
    margin-left: 45px;
}
.disabled1{
    color: #ccc!important;
}
.newOffer td{
    padding: 0px 3px!important;
}
.newOffer td input {
    margin: 2px auto;
}
.input-group-addon {
    padding: 4px 8px;
}
.smallinput{
    max-width: 60px;
    margin: 0px auto!important;
}
th.offerRate, td.offerRate {
    padding-left: 5%!important;
}
.newOffer th{
    line-height: 3;
}

.newoffer button.grey {
    background-color: #edf0f5;
    border-color: #e6eaea;
    color: #9e9e9e;
}
.rostered{
    color: #5384ed;
    padding-left: 10px;
}
.rosteredGreen{
    color: #6fda9c;
    padding-left: 10px;
}

.completed2{
    color: #5384ed;
}
.onLeave{
    color: #b4b4b4;
    font-style: italic;
    padding-left: 10px;
}
.onLeave1{
    color: #e42c0f;
    font-style: italic;
    padding-left: 10px;
}
.modalBlue{
    border-top: 5px solid #a4bdfc;
}
.modalGray{
    /*border-top: 3px solid #f8ab3c;*/
    border-top: 5px solid #c1bfbe;
}

.modalOrange{
    /*border-top: 3px solid #f8ab3c;*/
    border-top: 5px solid #f97b1f;
}
.modalyellow{
    /*border-top: 3px solid #f8ab3c;*/
    border-top: 5px solid #e7b009;
}

.closed{
    /*color: #f8ab3c;*/
    color: #f97b1f;
}

.modalBlueDark{
    border-top: 5px solid #5384ed;
}
.modalBlack{
    border-top: 5px solid #000;

}
.modalAqua{
    border-top: 5px solid #00ffcc;
}
.modalGreen{
    border-top: 5px solid #6fda9c;

}

.modal-content {
    border-radius: 3px;
    margin-top: 100px;
}
.modal h4{
    font-weight: 600;
}
.modal-header {
    border-bottom: none;
}
.btnGreen{
    background-color: #6fda9c;
    color: #fff;
}
.btnGreen:hover {
    background-color: #56af7b!important;
    color: #fff;
}
.btnAqua{
    background-color: #00ffcc;
    color: #000;
}
.btnAqua:hover {
    background-color: #07deb3!important;
    color: #fff;
}
.modal label{
    font-weight: bold;
    font-size: 11px!important;
    line-height: 1.6;
}
button.btn:hover {
   
    color: #fff;
}
.field-icon {
    float: right;
    margin-top: -25px;
    margin-right: 8px;
    position: relative;
    z-index: 2;
}
.warningText{
    color:red;
    font-weight: 500;
}
.blackbtn{
    color:#fff;
    background-color:#000;
}
.btnorange{
    color:#000;
    background-color:#f8ab3c;
}
btnGray {
    color: #1f1e1e;
    background-color: #c5c4c3;
}
.OrangeText{
    color: #f8ab3c;
}
.BlueText{
    color: #5384ed;
}
.GreenText{
    color: #6fda9c;
}
.viewLink{
    float: right;
    text-align: right;
    color: #000;
    font-weight: 600;
    text-decoration: underline;
    line-height: 1.6;
}


/*------------------------------------------------------------------------------------------------------------*/


.secondcol{
    border-left: 2px solid #e2e2e2;
    padding-left: 40px;
}

/* The container */

.row .slot{
    min-width: 250px;
}


.slot .container {
    display: block;
    position: relative;
    padding-left: 50px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.slot .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.slot .checkmark {
    position: absolute;
    top: 0;
    left: 10px;
    height: 15px;
    width: 15px;
    background-color: black;
    color: red;
}

/* On mouse-over, add a grey background color */
.slot .container:hover input ~ .checkmark {
    /*background-color: #ccc;*/
}

/* When the checkbox is checked, add a blue background */
.slot .container input:checked ~ .checkmark {
    background-color: black;
    /* border: 1px;
    border-color: black;
    border-style: solid;*/
}


/* Create the checkmark/indicator (hidden when not checked) */
.slot .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.slot .container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.slot .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.slot .container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*------------------------------------------------------------------------------------------------------------*/

.slotoffer label{
    position: relative;
    cursor: pointer;
    color: #666;
    font-size: 12px;
}

.slotoffer input[type="checkbox"], input[type="radio"]{
    /*position: absolute;
    right: 9000px;*/
}

/*Check box*/
.slotoffer input[type="checkbox"] + .label-text:before{
    content: "\f096";
    font-family: "FontAwesome";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing:antialiased;
    width: 1em;
    display: inline-block;
    margin-right: 5px;
}

.slotoffer input[type="checkbox"]:checked + .label-text:before{
    content: "\f14a";
    color: black;
    animation: effect 250ms ease-in;
}

.slotoffer input[type="checkbox"]:disabled + .label-text{
    color: #aaa;
}

.slotoffer input[type="checkbox"]:disabled + .label-text:before{
    content: "\f0c8";
    color: #ccc;
}


/*------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 680px) {
    .form-control, .newOffer label , label,  {
        font-size: 11px;
        line-height: 1.5!important;
    }

}
@media only screen and (min-width:768px){
    #changeStatus .modal-dialog {
        width: 660px;
    }
    #counterOffer .modal-dialog{
        width: 860px!important;
    }
}

/*@media only screen and (max-width:480px){
.secondcol{
border: none!important;
padding-left: 15px;
}
}

@media only screen and (max-width:768px){
.secondcol{
border: none!important;
padding-left: 15px;
}
}
*/
.small1{
    font-size: 8px;
    font-variant: normal;
    color: grey;
}

.checklabel{
    font-size: 11px!important;
}

.counteroffer{
    background-color: #00ffcc;
    width: 100%;
}

.counterDiffOffer{
    background-color: #dad6d6;
    width: 100%;
}

.counterDiffOffer .greenbtn{
    background-color: #dad6d6 !important;
}

.caretdown{
    /*	margin-left: 127px!important;*/
    float: right;
}


.loader {
    position: absolute;
    left: 52.5%;
    height: 130px;
    top: 330px;
    z-index: 10000;
}

.onLeave {
    color: #e42c0f;
    font-weight: normal;
}

.onLeave1 {
    color: #e42c0f;
    font-weight: normal;
}

.rostered {
    color: #34a853;
    font-weight: normal;
}

.fc-toolbar .fc-left .fc-icon {
    width: 3em!important;
}

.fc-unthemed th, .fc-unthemed td, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-popover{
    border-color:#d0d0d0 !important;
}


hr.fc-divider.fc-widget-header {
    width: 100%;
}

#dataError1 .modal-content {
    border: 1px solid transparent!important;
}

.error-border {
    border: 1px solid #a94442;
}

.has-success .input-group-addon {
    color: #666 !important;
    background-color: #edf0f5 !important;
}
.fc-day-grid-container {
    min-height: 600px !important;
    overflow-y: hidden;
    overflow-x: hidden;
}

.blue_bg_button {
    background-color: #42fed9;
    border-color: #42fed9;
    margin: 5px 5px;
}

.circle-btn i { font-size: 1.6em;}
.circle-btn {
    background-color: #42fed9;
    border-color: #42fed9;
    margin: 5px 5px;
    border-radius: 15px;
    height: 28px;
    width: 26px;
}

.bgColorMain{
    background-color: #f4f7f9;
    font-family: Atlas Grotesk Web!important;
}

.panel {
    margin-bottom: 0px;
    padding-left: 20px;
    border-left: 1px solid #d2d2d2;
}

.table-box {
    margin-top: 15px;
    margin-left: 15px;
  /*  border-top: 3px solid #222d32!important;*/
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
}

.colored .form-radio-button {
    position: absolute;
    left: 0;
    cursor: pointer;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #999;
}


.colored .form-radio-label span {
    padding-left: 10px;
}

.colored .form-radio-label {
    position: relative;
    cursor: pointer;
    padding-left: 1.5rem;
    text-align: left;
    color: #333;
    display: block;
    margin-bottom: 0.5rem;
}

.colored .form-radio-label:hover i {
    color: #42fed9;
}

.colored .form-radio-label input {
    width: auto;
    opacity: 0.0001;
    position: absolute;
    left: 0.25rem;
    top: 0.25rem;
    margin: 0;
    padding: 0;
}


.colored .form-radio-button {
    position: absolute;
    left: 0;
    cursor: pointer;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #999;
}

.colored .form-radio-button::before,
.colored .form-radio-button::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    margin: 0.25rem;
    width: 1.3rem;
    height: 1.3rem;
    transition: transform 0.28s ease, color 0.28s ease;
    border-radius: 50%;
    border: 0.14rem solid #42fed9;
    will-change: transform, color;
}

.colored .form-radio-button::after {
    transform: scale(0);
    background-color: #42fed9 ;
    border-color: #42fed9 ;
}

.colored .form-radio-field:checked ~ .form-radio-button::after {
    transform: scale(0.5);
}

.colored .form-radio-field:checked ~ .form-radio-button::before {
    color: #42fed9 ;
    border-color: #42fed9 ;
}
.colored .form-radio-label span {
    padding-left: 10px;
}
.marginleft70 {
    margin-left: 70px;
    color: #42fed9;
}

.btn-green {
    background-color: #42fed9;
    color: #464646;
    padding: 3px 10px;
    min-width: 140px;
    font-size: 14px;
    border-radius: 0px!important;
    text-transform: uppercase;
    border:1px solid #42fed9;	
}		
.btn-green:hover {
    background-color: #888;
    color: white!important;
    border:1px solid #42fed9;	
}
.btn-gray {
    background-color: #ddd;
    color: #464646;
    padding: 3px 10px;
    min-width: 140px;
    font-size: 14px;
    border-radius: 0px!important;
    text-transform: uppercase;
    border:1px solid #ddd;	
}
.btn-gray:hover {
    background-color: #888;
    color: white!important;
    border:1px solid #42fed9;	
}
.custom-file-input::before {
    content: 'browse';
    display: inline-block;
    /* background: -webkit-linear-gradient(top, #42fed9, #42fed9);*/
    border: 1px solid #42fed9;
    background-color: #42fed9;
    color: #464646;
    padding: 3px 10px;
    min-width: 140px;
    z-index: 99;
    font-size: 14px;
    margin-left: -70px;
    border-radius: 0px!important;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    height: 27px;
}
.custom-file-input:hover::before{
    background-color: #888!important;
    color: white!important;
    border:1px solid #42fed9;
}

.custom-file-input:hover::before , .custom-file-input::before:hover{
    background-color: #39ad19!important;
    color: white!important;
    border:1px solid #42fed9;
}
.custom-file-input:active::before {
    background-color: #39ad19;
    color: white!important;
}
.boxStyling{
    padding:35px;
}
form.colored {
    margin: 0px auto;
    width: 95%;
}
.marginBTM {
    margin-bottom: 30px;
}
.custom-file-upload input[type="file"]{
    display: none!important;
}

.custom-file-upload{
    background-image: url("../img/add.png");
    background-size: cover;
    height: 60px;
    width: 60px;
}

input[type="file"]{
    display: block!important;
    height: 30px !important;
    font-size: 12px;
    
}
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}
input[type=file]:focus {
    outline: none!important;
}
input[type=file]:focus{
    outline: 0px auto -webkit-focus-ring-color!important;
    outline-offset: -2px;
}
.margin-top{
    margin-top: 25px;
}
.headingSmall {
    font-size: 15px;
    font-weight: 700;
    margin: 15px 0px;
    display: block;
}

@media screen and (max-width: 980px) {
    /*.col-md-6.text-center.titleText {
    max-width: fit-content!important;
    float: right;
}*/
    .col-md-6.text-center.titleText {
        /* text-align: center; */
        /* max-width: 50%!important; */
        float: left;
        text-align: center;
        width: 100%;
    }
}
@media only screen and (max-width: 480px) {
    section#contentSectionFont .newoffer {
        width: 100%!important;
        padding: 0px 20px;
    }
    section#contentSectionFont .col3 {
        width: 100%;
    }
    section#contentSectionFont .col3 .btn {
        float: right;
    }
    .newoffer button {
        margin-left: 0px!important;
    }
}
@media only screen and (max-width: 350px) {
    .myPage {
        padding: 30px 0px !important;
    }
    .innerCleanbox0 {
        padding: 10px 5px;
    }
    .navbar-brand {
        float: left!important;
    }
}
@media only screen and (max-width: 375px) {
    .main-header .sidebar-toggle {
        padding: 24px 0px!important;
    }
    .col-md-6.text-center.titleText {
        font-size: 12px;
    }
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: 0!important;
    }
}
.rosteredText {
    color : #34a853
}

.dnaText {
    color : #000
}

.completedText {
    color : #5390f6
}

.closedText {
    color : #fd8725
}

/*-----------------Reprots------------------*/
.adminTbl {
    height: 450px;
    overflow-y: scroll;
    display: block;
    width: 80%;
}


.reports thead {
    background: #222d32;
}

.reports thead th{
    border-right: 1px solid grey;
    color: #fff;
}

.reports i {
    margin-right: 10px;
}

.fc-axis {
    font-weight: bold;
    text-transform: capitalize;
}

.fc-axis.fc-time {
    font-weight: normal;
}

.back-arrow {
    background-color: #42fed9;
    border-color: #42fed9;
    margin: 0px;
    height: 36px;
    width: 32px;
}
.asterisk {
    color: #d63636;
}
.slots td {
    border-bottom: none !important;
}

.btn-default:hover {
    background: transparent;
}

.btn-default, .btn-default:hover {
    color: #333 !important;
    background-color: #fff !important;
    border-color: #fff !important;
}
    /*.strikeOut, .strikeOut label, .strikeOut input{
    text-decoration: line-through;
}*/
    body {
        margin: 0;
        padding: 0;
       
        height: 100vh;
    }

   #login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 70%;
    height: 320px;
    /* border: 1px solid #9C9C9C; */
    background-color: #EAEAEA;
    /* padding-left: 18%; */
    margin-left: 70%;
}
    #login .container #login-row #login-column #login-box #login-form {
        padding: 20px;
    }
    #login .container #login-row #login-column #login-box #login-form #register-link {
        margin-top: -85px;
    }

.btn-info {
    color: #fff;
    background-color: #445377;
    border-color: #445377;
}
.btn-info:hover {
    color: #fff;
    background-color: #445377;
    border-color: #445377;
}

.fixed-plugin {
    position: fixed;
    right: 0;
    width: 64px;
    background: rgba(0,0,0,.3);
    z-index: 1031;
    border-radius: 8px 0 0 8px;
    text-align: center;
    top: 120px;
}

textarea{
   resize: none
}
.fixed-plugin .fa-cog {
    color: #fff;
    padding: 10px;
    border-radius: 0 0 6px 6px;
    width: auto;
}
/*
.fa, .fas {
    font-weight: 900;
}
*/
.fa-2x {
    font-size: 2em;
}
.fixed-plugin .dropdown {
    cursor: pointer;
}

.fixed-plugin .dropdown-menu {
    right: 80px;
    left: auto!important;
    top: 0px!important;
    width: 290px;
    border-radius: 10px;
    padding: 0 10px;
}

.fixed-plugin .dropdown.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
   
    transform: translateY(4%);
   
    transform-origin: 0 0;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    border: 0;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.fixed-plugin .badge-purple {
    background-color: #9c27b0;
}
.fixed-plugin .badge-blue {
    background-color: #00bcd4;
}
.fixed-plugin .badge {
    border: 3px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 23px;
    margin-right: 5px;
    position: relative;
    width: 23px;
}

.fixed-plugin .dropdown .dropdown-menu:after, .fixed-plugin .dropdown .dropdown-menu:before {
    content: "";
    border-bottom: 16px solid transparent;
    border-top: 16px solid transparent;
    display: inline-block;
    position: absolute;
    top: 65px;
    width: 16px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}

.fixed-plugin li.header-title {
    height: 30px;
    line-height: 25px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    /* text-transform: uppercase; */
}

.fixed-plugin .badge.active, .fixed-plugin .badge:hover {
    border-color: #0bf;
}


/*It is USed For Add User Css*/


#pageHeading{
    font-size: 20px;font-weight: 100;
}

/*html{height:200%;}*/
.intro{}
.left{background: white;border-radius: 3px; margin-left: 5%; }
.right{background: white;border-radius: 3px; margin-left: 5%; }

@media(max-width:1200px){.left{height:50%} .right{height: 50%}}
#labelHeading{font-weight: 100;font-size: 20px;margin-left: 32%;}
.vl{border-left: 1px solid black;height: 500px}
/*#container{background: white;border-radius: 5px}*/
#inputText{background: white;}
.header{background: #445377;color:white;margin-top: 3%}

.addbtn {
    background-color: #445377;
    border-color: #445377;
    margin: 5px 5px;
}
.fa-plus{
    color: #fff;
}

.addbtn.btn:hover{
    background-color: #445377;
    border-color: #445377;
    margin: 5px 5px;
}

.newUserForm.form-control{
    height: 29px;
    font-size: 10px!important;
}

.panel-body.label{
        margin-left: 2%;
        
}

.saveBtn{
        background-color:#445377;
        color: #fff;
    font-size: 12px;
    font-weight: 100;
    padding: 12px 16px;
    border: none;
   
}

button.saveBtn.btn:hover{
        background-color: #445377;
    color: #fff;
}

.addForm .form-control {
    height: 29px;
    font-size: 10px!important;
}
.table>thead>tr{
    font-size: 15px;
}
.table>tbody>tr{
     font-size: 11px;
}

link:hover { cursor: pointer; }

.form-control input{
    border: none
}
.table>thead>tr>th{
    color: black;font-weight: 100;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: black
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover a{
    color: black
}
.desc {
    padding: 15px;
    text-align: center;
}

/*Responsive Add User*/
* {
    box-sizing: border-box;
}

input[type=text]{
    height: 30px !important;
    font-size: 12px;
}
.column{
    float: left;
    width: 50%;padding:10px;
    height: 300px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
input[type=email]{
    height: 30px !important;
    font-size: 12px;
}

div.divAppointment {
    background-color: #eee;
    min-height: 30vh;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30%;
}
/*Navigation*/


 .titleText{
            color: white;font-size: 15px;padding-top: 15px;
        }
.sidebar-toggle{
            float: left;
            background-color: transparent;
            background-image: none;
            padding: 24px 15px;
            font-family: fontAwesome;
        }
/*.bttn{
            cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    margin: 10px;
    color: #222d32;
    background:rgba(216, 184, 255, 1);
        }*/
        
        .spanBind{
            font-variant: normal;
    font-size: 8px;
    color: grey;
        }

.searchBox{
    position:relative;
    padding: 10px;
}
.searchInput{
    box-sizing: border-box;
    width: 15%;

    padding: 10px;
}
.panel-body{
    padding: 0px;
}
div#divAppointment{
    
    background-color: #d9dfe4;
    width: 20%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    min-height: 100vh;
    /* margin-top: -23px; */
}

.fc-view{
    background: rgb(206, 239, 237);
}

/*scrollStyle*/
.scrollStyle{
    height: 150px;
    overflow-y: scroll;
    overflow-x: scroll
}
.scrolltable{
     height: 40%;
    overflow-y: scroll;
    overflow-x: scroll
}
.scrolling{
      margin-left: 30%;
      height: 28%;
      overflow-y: scroll;
}
form.feedbackForm{
    margin-top:5%;
    margin-left: 15%;
    height: 50%;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}