<div class="wrapper">
  <!--Navigation-->
  <div ui-view="navigation"></div>
  <div class="content-wrapper" style="background: #F4F4F6;height: 150%;" ng-init="initAssignResource">
     
      <!--Used For Heading-->
      <div class="col-md-11 col-sm-11 panel table-box">
        <div class="panel-body" style="background: #445377;color:white;margin-top:inherit;height: 40px;">
          <label style="font-size: 18px;font-weight: 100;padding:5px 15px;">Assign Resource</label>
        </div><br><br>
          
          <!--Contents Start From Here-->
          <div class="row">
              <!--First Column-->
             <div class="col-lg-3">
                 <label for="usr"><input type="radio"   name="branch" ng-change="RadioChange('Branch')" ng-model="user" value ="Branch">Branch Name<span class="asterisk">*</span></label>
                 
                 <div class="input-group"><span class="input-group-addon"><i class="fa fa-suitcase" aria-hidden="true"></i></span>
                 <select class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" style="width: 80%;height: 29px;font-size: 12px" ng-model="branchNameToResource" ng-options="branch for branch in listOfBranch" ></select>
                 </div>
              
             </div>
              
              
            
              
              <!--Second Column-->
              <div class="col-lg-3">
                   <label for="usr"><input type="radio"  ng-model="user" ng-change="RadioChange('Staff')" value="staff" name="staff">Staff Name<span class="asterisk">*</span></label>
                 
                 <div class="input-group"><span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                 <select class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" style="width: 80%;height: 29px;font-size: 12px" ng-model="employeeNameToResource" ng-options="employee for employee in listOfEmployee" ng-disabled=""></select>
                 </div>
              </div>
              
              <!--Third Coloum-->
              <div class="col-lg-6">
                   <label style="font-size: 15px;font-weight: 100;">Resource List</label>
                  
                  <!--List OF Resource List-->
                  <div class="scrolltable">
                      <table class="table">
                    <tbody>
                      <tr ng-repeat="resource in resourceList">
                        <td style="border-color:white;width: 10%;"><input type="checkbox"></td>
                        
                         <td style="border-color:white;">{{resource.Rname}}</td>
                      </tr>
                    </tbody>
                  </table>
                  
                  </div>
                  
                  
                  <!--End OF table-->
                  
                   <button type="submit" class="btn saveBtn" style="float: right">Assign</button>
              </div>
          </div>
          
          <!--Contents End Here-->
      </div>
  </div>
</div>