<div class="wrapper" style="background: #f3f7fa;">
    <div ui-view="navigation"></div>
    <div class="content-wrapper slots" style="background: #F4F4F6;" ng-init="init()">
        
     <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModallightblue">Light Blue</button>
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModaldarkblue">Dark Blue</button>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModalBlack">Black</button>
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModalBlack2">Black Cancel leave</button>
    
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModalGreen">Green</button>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModalsetLeave">Set leave</button>

    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#sessionClose">Close Session Orange</button>
    

    <!-- Close Session Orange -->
      <div class="modal fade " id="sessionClose" role="dialog">
      <div class="modal-dialog">

        <!-- Modal lightblue content-->
        <div class="modal-content modalOrange">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-center">Offer 1023 - FMI</h4>
          </div>
          <div class="modal-body">
            <div class="row" style="width: 100%; margin: 0px auto;">
              <div class="col-md-4 col-sm-4 col-xs-4">
                <span class="theading"> Date</span>
                <br>
                <label>Fri 17/11/2017</label>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-4">
                <span class="theading"> Time</span><br>
                <label>08:00-14:00</label>
              </div>
              <div class="col-md-4 col-sm-4">
                <span class="theading"> Final rate</span><br>
                <label>$1000</label>
              </div>
            </div>
              <hr>
               <div class="row" style="width: 90%; margin: 0px auto;">
              <div class="col-md-4 col-sm-6 col-xs-6">
                <span class="theading"> MIS</span>
                <br>
                <label>Sam Monroe (SM)</label>
              </div>
              <div class="col-md-4 col-sm-6">
                <!-- <span class="theading"> Time</span><br>
                <label>08:00-14:00</label> -->
              </div>
              <div class="col-md-4 col-sm-6 col-xs-6">
                <span class="theading"> Status </span><br>
                <label><span class="closed">Closed</span></label>
              </div>
            </div>
            <div class="row">
             <div class="col-md-12 text-center topbottom" >
                <button class="btn">Cancel </button>
            </div>
          </div>
            </div>
          </div>
          
        </div>

      </div>
    </div>
    <!-- End Modal -->

    
    <!-- Modal lightblue -->
    <div class="modal fade " id="myModallightblue" role="dialog">
      <div class="modal-dialog">

        <!-- Modal lightblue content-->
        <div class="modal-content modalBlue">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-center">Offer 1023 - FMI</h4>
          </div>
          <div class="modal-body">
            <div class="row" style="width: 100%; margin: 0px auto;">
            	<div class="col-md-4 col-sm-4 col-xs-4">
            		<span class="theading"> Date</span>
            		<br>
            		<label>Fri 17/11/2017</label>
            	</div>
            	<div class="col-md-4 col-sm-4 col-xs-4">
            		<span class="theading"> Time</span><br>
            		<label>08:00-14:00</label>
            	</div>
            	<div class="col-md-4 col-sm-4">
            		<span class="theading"> Final rate</span><br>
            		<label>$1000</label>
            	</div>
            </div>
            	<hr>
            	 <div class="row" style="width: 90%; margin: 0px auto;">
            	<div class="col-md-4 col-xs-6">
            		<span class="theading"> MIS</span>
            		<br>
            		<label>Sam Monroe (SM)</label>
            	</div>
            	<div class="col-md-4">
            		<!-- <span class="theading"> Time</span><br>
            		<label>08:00-14:00</label> -->
            	</div>
            	<div class="col-md-4 col-xs-4">
            		<span class="theading"> Status </span><br>
            		<label><span class="rostered" style="padding: 0px!important;">Rostered</span></label>
            	</div>
            </div>
            <div class="row">
	           <div class="col-md-12 text-center topbottom" >
		           	<button class="btn redbtn"> Mark DNA </button>
		            <button class="btn">Cancel </button>
		        </div>
         	</div>
            </div>
          </div>
          
        </div>

      </div>
    </div><!-- Modal -->

<!-- Modal myModaldarkblue -->
    <div class="modal fade " id="myModaldarkblue" role="dialog">
      <div class="modal-dialog">

        <!-- Modal lightblue content-->
        <div class="modal-content modalBlueDark">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-center">Offer 1023 - FMI</h4>
          </div>
          <div class="modal-body">
            <div class="row" style="width: 90%; margin: 0px auto;">
            	<div class="col-md-3 col-sm-3 col-xs-6">
            		<span class="theading"> Date</span>
            		<br>
            		<label>Fri 17/11/2017</label>
            	</div>
            	<div class="col-md-3 col-sm-3">
            		<span class="theading"> Time</span><br>
            		<label>08:00-14:00</label>
            	</div>
            	<div class="col-md-3 col-sm-3 col-xs-6">
            		<span class="theading"> Final rate</span><br>
            		<label>$1000</label>
            	</div>
            	<div class="col-md-3 col-sm-3">
            	<span class="theading"> Final Status </span><br>
            		<label><span class="completed2">Completed</span></label>
            		</div>
            	</div>
            	
            
            <div class="row">
	           <div class="col-md-12 text-center topbottom" >
		           	<!-- <button class="btn redbtn"> Mark DNA </button> -->
		            <button class="btn">Cancel </button>
		        </div>
         	</div>
            </div>
          </div>
          
        </div>

      </div>
    </div><!-- Modal -->
    
    <!-- Modal myModalBlack -->
    <div class="modal fade " id="myModalBlack" role="dialog">
      <div class="modal-dialog">

        <!-- Modal lightblue content-->
        <div class="modal-content  modalBlack">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-center">Offer 1023 - FMI</h4>
          </div>
          <div class="modal-body">
            <div class="row" style="width: 90%; margin: 0px auto;">
            	<div class="col-md-3 col-sm-3 col-xs-6">
            		<span class="theading"> Date</span>
            		<br>
            		<label>Fri 17/11/2017</label>
            	</div>
            	<div class="col-md-3 col-sm-3">
            		<span class="theading"> Time</span><br>
            		<label>08:00-14:00</label>
            	</div>
            	<div class="col-md-3 col-sm-3 col-xs-6">
            		<span class="theading"> Final rate</span><br>
            		<label>$1000</label>
            	</div>
            	<div class="col-md-3 col-sm-3">
            	<span class="theading"> Status </span><br>
            		<label><span class="">DNA</span></label>
            		</div>
            	</div>
            	
            
            <div class="row">
	           <div class="col-md-12 text-center topbottom" >
		           	<!-- <button class="btn redbtn"> Mark DNA </button> -->
		            <button class="btn">Cancel </button>
		        </div>
         	</div>
            </div>
          </div>
          
        </div>

      </div>
    </div><!-- Modal -->
    <div class="modal fade " id="myModalBlack2" role="dialog">
      <div class="modal-dialog">

        <!-- Modal lightblue content-->
        <div class="modal-content  modalBlack">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-center">Cancel Leave</h4>
          </div>
          <div class="modal-body">
            <div class="row" style="width: 90%; margin: 0px auto;">
            <div class="col-md-4 col-sm-4"></div>
            	<div class="col-md-4 col-sm-4" style="padding-left:20px;">
            		<span class="theading"> Date</span>
            		<br>
            		<label>Fri 17/11/2017</label><br>
            		<label>Fri 17/11/2017</label><br>
            		<label>Fri 17/11/2017</label>
            	</div>
            	
            	</div>
            	
            <div class="row">
	           <div class="col-md-12 text-center topbottom" >
		           	<!-- <button class="btn redbtn"> Mark DNA </button> -->
		            <button class="btn btnGreen">Cancel Leave  </button>
		            <button class="btn">Cancel  </button>
		        </div>
         	</div>
            </div>
          </div>
          
        </div>

      </div>
    </div><!-- Modal -->

   <!-- Modal myModalGreen -->
    <div class="modal fade " id="myModalGreen" role="dialog">
      <div class="modal-dialog">

        <!-- Modal lightblue content-->
        <div class="modal-content  modalGreen">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-center">Offer 1023 - FMI</h4>
          </div>
          <div class="modal-body">
            <div class="row" style="width: 90%; margin: 0px auto;">
            	<div class="col-md-3 col-sm-3 col-xs-6">
            		<span class="theading"> Date</span>
            		<br>
            		<label>Fri 17/11/2017</label>
            	</div>
            	<div class="col-md-3 col-sm-3">
            		<span class="theading"> Time</span><br>
            		<label>08:00-14:00</label>
            	</div>
            	<div class="col-md-3 col-sm-3 col-xs-6">
            		<span class="theading"> Final rate</span><br>
            		<label>$1000</label>
            	</div>
            	<div class="col-md-3 col-sm-3">
            	<span class="theading"> Status </span><br>
            		<label><span class="rosteredGreen">Rostered</span></label>
            		</div>
            	</div>
            	
            
            <div class="row">
	           <div class="col-md-12 text-center topbottom" >
		           	<!-- <button class="btn redbtn"> Mark DNA </button> -->
		            <button class="btn">Cancel </button>
		        </div>
         	</div>
            </div>
          </div>
          
        </div>

      </div>
    </div><!-- Modal -->
    <!-- Modal set leave -->
    <div class="modal fade " id="myModalsetLeave" role="dialog">
      <div class="modal-dialog">

        <!-- Modal lightblue content-->
        <div class="modal-content  modalBlack">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-center">Set Leave</h4>
          </div>
          <div class="modal-body">
            <div class="row" style="width: 90%; margin: 0px auto;">
            
            	<div class="col-md-3  col-md-offset-1" style="border-right: 1px solid #ccc;">
            		<span class="theading"> Date</span>
            		<br>
            		<label>Fri 17/11/2017</label><br>
            		<label>Fri 17/11/2017</label><br>
            		<label>Fri 17/11/2017</label>
            	</div>
            	<div class="col-md-7 col-md-offset-1 text-center">
            		
            		<label>Enter password</label><br>
            		<form>
					  
					  <div class="form-group">
					   <input id="password-field" type="password" class="form-control" name="password" value="password">
              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
					</div>
					<script>
					$(".toggle-password").click(function() {

						  $(this).toggleClass("fa-eye fa-eye-slash");
						  var input = $($(this).attr("toggle"));
						  if (input.attr("type") == "password") {
						    input.attr("type", "text");
						  } else {
						    input.attr("type", "password");
						  }
						});
					</script>
					</form>
					<span class="warningText">Warning - Others are on leave during this time.
						Please ensure your practices are covered before proceeding</span>
            	</div>
            	
            	</div>
            	
            <div class="row">
	           <div class="col-md-12 text-center topbottom" >
		           	<!-- <button class="btn redbtn"> Mark DNA </button> -->
		            <button class="btn btnAqua">Set Leave  </button>
		            <button class="btn">Cancel  </button>
		        </div>
         	</div>
            </div>
          </div>
          
        </div>

      </div>
    </div><!-- Modal -->
   	</div><!-- Wrapper  -->
</div>
