	<div class="wrapper">
	    <div ui-view="navigation"></div>
	    <div class="content-wrapper" style="background: #F4F4F6;">
	        <section id="contentSectionFont" class="myPage  " ng-init="init()">
			   
			   <div class="row ">
			  <div class="col-md-12">
			  
			  <div class="innerCleanbox2 max1024px">
			  
			  	<span class="strongText3">New Roster</span>
			  	<form class="max650px">
			  	 <div class="form-group row">
			      <div class="col-sm-6 col-xs-12">
			        <label for="ex1">Start Date</label>
			        
	                <div class='input-group date' id='datetimepicker1'>
	                    <input type='text' class="form-control" />
	                    <span class="input-group-addon">
	                        <span class="glyphicon glyphicon-calendar"></span>
	                    </span>
	                </div>
	           
	            
			      </div>
			      <div class="col-sm-6 col-xs-12">
			        <label for="ex2">End Date</label>
			        <div class='input-group date' id='datetimepicker2'>
	                    <input type='text' class="form-control" />
	                    <span class="input-group-addon">
	                        <span class="glyphicon glyphicon-calendar"></span>
	                    </span>
	                </div>
			      </div>
		      	
			      <div class="col-sm-6 col-xs-12">
			        <label for="ex1">Start Time</label>
			        <select class="form-control" id="sel1">
				        <option>1</option>
				        <option>2</option>
				        <option>3</option>
				        <option>4</option>
					</select>
			      </div>
			      <div class="col-sm-6 col-xs-12">
			        <label for="ex2">End Time</label>
			        <select class="form-control" id="sel1">
				        <option>1</option>
				        <option>2</option>
				        <option>3</option>
				        <option>4</option>
					</select>
			      </div>
			      <div class="col-xs-12">
			      <label class="checkbox-inline SelectText">
				      <input type="checkbox" value="">Repeat
				   </label>
		      	</div>
		      	</div>
		      	  <div class="row form-group">
		      <div class="col-xs-12 ">
			  	<div class="form-group WeekButtons ">        
				  <button type="button" class="btn greenbtn">Monday </button>
				  <button type="button" class="btn greenbtn">Tuesday</button>
				  <button type="button" class="btn greenbtn">Wednesday</button>
				  <button type="button" class="btn greenbtn">Thursday</button>
				    <button type="button" class="btn greenbtn">Friday</button>
				    <button type="button" class="btn btn-default">Saturday</button>
				    <button type="button" class="btn btn-default">Sunday</button>
	  	      	</div>
	    	</div>
	   		 <div class="col-sm-6 col-xs-12">
			 	<label for="ex1">Select Site</label>
			        <select class="form-control" id="sel1">
				        <option>1</option>
				        <option>2</option>
				        <option>3</option>
				        <option>4</option>
					</select>
			  </div>
			  <div class="col-sm-6 col-xs-12">	
			        <label for="ex2">Select Doctor</label>
			        <select class="form-control" id="sel1">
				        <option>1</option>
				        <option>2</option>
				        <option>3</option>
				        <option>4</option>
					</select>
			  </div>
			</div>
			 <div class="row">
			 <div class="col-xs-12">
				<div class="form-group">        
				  <button type="button" class="btn subBtn">Cancel </button>
				  <button type="button" class="btn subBtn greenbtn ">Create</button>
			    </div>
			  </div>
		  </div>
		</form>
	</div>
</div>
</div>
		   
	            
	         <script type="text/javascript">
	            $(function () {
	                $('#datetimepicker1').datetimepicker();
	            });
	            $(function () {
	                $('#datetimepicker2').datetimepicker();
	            });
	        </script>
	        </section>
	    </div>
	</div>
	
