<section class="home" ng-init="initHome()">
    <nav class="row navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="common/assets/images/logo.png">
                    <!--<img alt="Brand" src="{{logoUrl}}">-->
                </a>
            </div>
        </div>
    </nav>
    <div class="row ">
    
    <div class="WhiteBox2">
        <div class="col-xs-12 col-sm-12  col-centered text-center ">
                <p class="red-strip"></p>
                <div class="col-sm-12">
				    <div class="WhiteBoxHeading text-center">Register</div>
				    </div>
                <form class="col-xs-12" name="loginForm" ng-submit="onLoginClick(loginForm, signinData)" novalidate>
                    <div class="left-inner-addon input-group form-group formGroupMarRem dropdown top-drp">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <input ng-model="signinData.email" type="text" placeholder="Name" required>
                    </div>
                    <div class="left-inner-addon input-group form-group formGroupMarRem dropdown top-drp">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <input ng-model="signinData.email" type="text" placeholder="Organisation name" required>
                    </div>
                    <div class="left-inner-addon input-group form-group formGroupMarRem dropdown top-drp">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <input ng-model="signinData.email" type="text" placeholder="Email Id" required>
                    </div>

                    <div class="left-inner-addon input-group form-group formGroupMarRem dropdown top-drp">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <input ng-model="signinData.password" type="password" placeholder="Password" required>
                    </div>
                    <div class="left-inner-addon input-group form-group formGroupMarRem dropdown top-drp">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <input ng-model="signinData.password" type="password" placeholder="Confirm Password" required>
                    </div>
                    <div class="form-group sign-in" ng-show="loginErrorMeessage"> 
                        <label class="text-center text-danger">{{loginErrorMeessage}} 	</label>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class=" btn btn-default ">Forgot Password</button>
                    </div>
                    <div class="form-group sign-in">
                        <button type="button" class="btn pull-right" ng-click="onSkipClick()">Skip</button>
                    </div>
                </form>
            
        </div>
        </div>
    </div>
</section>