<div class="wrapper" style="background: #f3f7fa;">
    <div ui-view="navigation"></div>
    <div class="content-wrapper slots" style="background: #F4F4F6;" ng-init="init()">
    
        <div class="col-md-11 col-sm-11 panel table-box">
            <div class="panel-body">
                <table class="table siteTable">
                    <thead>
                        <tr style="border: hidden;">
                            <th>COMPANY NAME</th>
                            <th class="hidecol">MIP LIST</th>
                            <th class="hidecol">EMAIL ID</th>
                            <!-- <th>WEBSITE</th> -->
                            <th class="hidecol">CONTACT PHONE</th>
                            <th>STATUS</th>
                            <th>ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><label ui-sref="MIPGroupView" style="cursor: pointer">Radian</label></td>
                            <td class="hidecol"><label>FMI, IWP</label></td>
                            <td class="hidecol"><label>abcfirm@gmail.com</label></td>
                            <!-- <td><label>www.abcfirm.com</label></td> -->
                            <td class="hidecol"><label>+65 00000000</label></td>
                            <td><label class="switch">
                                  <input type="checkbox" ng-model="list.active">
                                  <span class="slider round"></span>
                                </label>
                            </td>
                            <td><i class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
                        </tr>
                          <tr>
                            <td><label ui-sref="viewSite" style="cursor: pointer">Radian</label></td>
                            <td class="hidecol"><label>FMI, IWP</label></td>
                            <td class="hidecol"><label>abcfirm@gmail.com</label></td>
                            <!-- <td><label>www.abcfirm.com</label></td> -->
                            <td class="hidecol"><label>+65 00000000</label></td>
                            <td><label class="switch">
                                  <input type="checkbox" ng-model="list.active">
                                  <span class="slider round"></span>
                                </label>
                            </td>
                            <td><i class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
                        </tr>
                          <tr>
                            <td><label ui-sref="viewSite" style="cursor: pointer">Radian</label></td>
                            <td class="hidecol"><label>FMI, IWP</label></td>
                            <td class="hidecol"><label>abcfirm@gmail.com</label></td>
                            <!-- <td><label>www.abcfirm.com</label></td> -->
                            <td class="hidecol"><label>+65 00000000</label></td>
                            <td><label class="switch">
                                  <input type="checkbox" ng-model="list.active">
                                  <span class="slider round"></span>
                                </label>
                            </td>
                            <td><i class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
                        </tr>
                        
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</div>
<div id="dataError" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="panel">
                <p class="red-strip"></p>
                <div class="row">
                    <div class="form-group col-xs-12 text-center">
                        <label style="font-size: 14px;">{{errorMsg}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-center form-group">
                        <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>