  <div class="wrapper" style="background: #f3f7fa;">
    <div ui-view="navigation"></div>
    <div class="content-wrapper slots" style="background: #F4F4F6;" ng-init="init()">
            
        <div class="col-md-11 col-sm-11 panel table-box">
            <div class="panel-body newOffer">
                <span class="headingSmall">
                	New Offer
                </span>
                <div class="row">
                    <div class="col-md-7 ">
                        <table style="width:100%;">
                            <thead class="divide1" style="width:100%; ">
                                <!-- <th style="width:7%"></th> -->
                                <th style="width:30%"><span class="theading"> <span style="padding-left: 40px;">Date</span></span></th>
                                <th class="text-center" style="width:15%"> <span class="theading">Start time</span></th>
                                <th style="width:3%"></th>
                                <th class="text-center theading"  style="width:15%"> End time</th>
                                <th class="offerRate theading"  style="width:30%"> Offer Rate</th>
                            </thead>
                            <tbody class="slotoffer">
                              <tr>
                                <!-- <td><input type="checkbox" value="" ></td> -->
                                  <td> <div class="form-check">
                                    <label>
                                      <input type="checkbox" name="check" checked> <span class="label-text">Mon 20/11/2017</span>
                                    </label>
                                  </div></td>
                                <td> <input type="text" class="form-control text-center smallinput" id="usr"></td>
                                <td style="width:3%">-</td>
                                <td> <input type="text" class="form-control text-center smallinput" id="usr"></td>
                                <td class="offerRate"><input type="text" class="form-control text-right" id="usr"></td>
                              </tr>
                              <tr>
                              <!--   <td><input type="checkbox" value="" ></td> -->
                                <td><div class="form-check">
                                  <label>
                                    <input type="checkbox" name="check" checked> <span class="label-text">Mon 20/11/2017</span>
                                  </label>
                                </div></td>
                                <td> <input type="text" class="form-control text-center smallinput" id="usr"></td>
                                <td style="width:3%">-</td>
                                <td> <input type="text" class="form-control text-center smallinput" id="usr"></td>
                                <td class="offerRate"><input type="text" class="form-control text-right" id="usr"></td>
                              </tr>
                              <tr>
                                <!-- <td><input type="checkbox" value="" ></td> -->
                                <td><div class="form-check">
                                  <label>
                                    <input type="checkbox" name="check" checked> <span class="label-text">Mon 20/11/2017</span>
                                  </label>
                                </div></td>
                                <td> <input type="text" class="form-control text-center smallinput" id="usr"></td>
                                <td style="width:3%">-</td>
                                <td> <input type="text" class="form-control text-center smallinput" id="usr"></td>
                                <td class="offerRate"><input type="text" class="form-control text-right" id="usr"></td>
                              </tr>
                               
                             
                            </tbody>
                        </table> 
                    </div>
                   <div class="col-md-offset-1 col-md-4 slideLine2 ">
                      <div class="row divide1">
                        <div class="col-md-2" >
                           
                        </div>
                        <div class="col-md-11" >
                         <span class="theading"> Select MIS</span>
                        </div>
                      </div>

                      <div class="container">
                        <div class="row slotoffer">
                              <form>                                
                                <div class="form-check">
                                  <label>
                                    <input type="checkbox" name="check" checked> <span class="label-text">John More</span>
                                  </label>
                                </div>
                                <div class="form-check">
                                  <label>
                                    <input type="checkbox" name="check"> <span class="label-text">John More</span>
                                  </label>
                                </div>
                                <div class="form-check">
                                  <label>
                                    <input type="checkbox" name="check"> <span class="label-text">John More</span>
                                  </label> <sub><span class="onLeave">On Leave</span></sub>
                                </div>
                                <div class="form-check">
                                  <label>
                                    <input type="checkbox" name="check" disabled> <span class="label-text">John More</span>
                                  </label><sub><span class="rostered">Rostered</span></sub>
                                </div>
                              </form>
                            </div>
                      </div>
        
                     
                    </div>
                    <div class=" " style="padding-top: 15px;">
            <div class="col-md-12 slotoffer" >
              <div class="form-check">
                                  <label>
                                    <input type="checkbox" name="check" checked> <span class="label-text">Allow counter offers</span>
                                  </label>
                                </div>
            </div>
          </div>
           <div class="row">
           
             <div class="col-md-12 text-center" >
           <button class="btn greenBtn">Create </button>
            <button class="btn">Cancel </button>
            </div>
         
          </div>
                  </div>
                </div>
                        
            </div>
        </div>
    </div>
</div>
</div>