<header class="main-header" ng-init="initNavigation()">

    <nav class="row navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
            <div class="col-md-3" style="">
                <div class="navbar-header" style="float: left">
                    <a class="navbar-brand" href="" >
                        <img src="common/assets/images/logoValid.png">
                    </a>
                    <a href="" class="sidebar-toggle" data-toggle="offcanvas" role="button"> <span class="sr-only">Toggle Sidebar</span> </a>
                </div>
            </div>

            <div class="col-md-6 text-center titleText ">
                <div class="">
                    <p class="ng-binding">{{screenTitle}} </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="navbar-custom-menu" style="float: right">
                    <ul class="nav navbar-nav">
                        <li class="userIcon" style="padding: 1px;padding-left: 10px;">
                            <div class="dropdown">
                                <button class="dropdown-toggle ng-binding bttn" data-toggle="dropdown" style="cursor: pointer;">HT<!--<i class="fa fa-user" aria-hidden="true"></i>--></button>
                                <label class="dropdown-toggle ng-binding" style="cursor: pointer;color: #fff;font-size: 11px;font-weight: 100" data-toggle="dropdown"> <span class="small1 ng-binding spanBind"> Super Admin </span>
                                    <br> Harsh Tiwari <span class="caret"></span> </label>
                                <ul class="dropdown-menu">
                                    <li><a class="ng-binding">Super Admin</a></li>
                                    <li class="divider"></li>
                                    <li><a ng-click="viewProfile()">View Profile</a></li>
                                    <li><a ng-click="logout()">Logout</a></li>
                                </ul>
                            </div>
                        </li>
                        <!--  <li>
<button class="logoutBtn" ng-click ="logout()"><i class="fa fa-power-off" aria-hidden="true"></i></button> 
</li>   -->
                    </ul>
                </div>
            </div>
        </div>
    </nav>



</header>
<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" style="margin-top: 35px;height: 600px;">
            <li id="dashboard" ng-show="role === 'admin' || 'branch'"> <a href="" ui-sref="admin-dashboard"><i class="fa fa-tachometer" aria-hidden="true"></i> <span>Dashboard</span></a></li>
            <li id="dashboard" ng-show="role === 'staff'"> <a href="" ui-sref="admin-dashboard"><i class="fa fa-tachometer" aria-hidden="true"></i> <span>Dashboard</span></a></li>
            <li id="appointment"> <a href="" ui-sref="appointment"><i class="fa fa-address-book" aria-hidden="true"></i> <span>Appointment</span></a> </li>
            
            <li id="assignment"  ng-show ="role ==='admin'" class="hierarchy-menu sub-nav"> <a href="" style="text-decoration: none;" ><i class="fa fa-suitcase" aria-hidden="true"></i> <span>Manage User</span>&nbsp&nbsp&nbsp&nbsp&nbsp  <i class="fa fa-caret-down"></i></a> 
                <ul id="venue-scope-options" style="display: none">
                    <li class="venue-lvl" ng-click="">
                        <a href="" ui-sref="manageUser">User</a>
                        <a href="" ui-sref="role">Role</a>
                    </li>
                </ul>
            </li>

            <li id="manageServices" ng-show ="role ==='admin'"> <a href="" ui-sref="salonService"><i class="fa fa-suitcase" aria-hidden="true"></i> <span>Manage Services</span></a> </li>
            <li id="manageServices" ng-show ="role ==='branch'"> <a href="" ui-sref="salonService"><i class="fa fa-suitcase" aria-hidden="true"></i> <span>Manage Services</span></a> </li>
            <li id="manageResources" ng-show ="role ==='admin'"> <a href="" ui-sref="viewResources"><i class="fa fa-tachometer" aria-hidden="true"></i> <span>Manage Resources</span></a> </li>

            <!--Manage Inventory-->
            <li id="assignment"  ng-show ="role ==='admin'" class="hierarchy-menu sub-nav"> <a href="" style="text-decoration: none;" ><i class="fa fa-suitcase" aria-hidden="true"></i> <span>Manage Inventory</span>&nbsp&nbsp&nbsp&nbsp&nbsp  <i class="fa fa-caret-down"></i></a> 
                <ul id="venue-scope-options" style="display: none">
                    <li class="venue-lvl" ng-click="">
                        <a href="" ui-sref="viewCategory"> Category</a>
                        <a href="" ui-sref="viewBrandList"> Brand</a>
                        <a href="" ui-sref="viewProduct"> Product</a>
                        <a href="" ui-sref="checkInStock"> CheckIn Inventory</a>
                        <a href="" ui-sref="checkOutStock">CheckOut Inventory</a>

                    </li>
                </ul>
            </li>


            <li id="manageBranch" ng-show ="role ==='admin'"> <a href="" ui-sref="manageBranch"><i class="fa fa-suitcase" aria-hidden="true"></i><span>Manage Branch</span></a> </li>

            <!--Manage Courses-->
            <li id="assignment" ng-show ="role ==='admin'" class="hierarchy-menu sub-nav"> <a href="" style="text-decoration: none;" ><i class="fa fa-suitcase" aria-hidden="true"></i> <span>Manage Courses</span>&nbsp&nbsp&nbsp&nbsp&nbsp  <i class="fa fa-caret-down"></i></a> 
                <ul id="venue-scope-options" style="display: none">
                    <li class="venue-lvl" ng-click="">
                        <a href="" ui-sref="viewCourse"> Add Course</a>


                    </li>
                </ul>
            </li>


            <li id="assignment" ng-show ="role ==='admin'" class="hierarchy-menu sub-nav"> <a href="" style="text-decoration: none;"><i class="fa fa-user" aria-hidden="true"></i> <span>Assignment </span>
                &nbsp&nbsp&nbsp&nbsp&nbsp  <i class="fa fa-caret-down"></i>
                </a>
                <ul id="venue-scope-options" style="display: none">
                    <li class="venue-lvl" ng-click="" >
                        <a href="" ui-sref="assignEmployee">Assign Staff</a>
                    </li> 
                    <!--Services-->


                    <!--Assign Services-->
                    <li id="assignment" class="hierarchy-menu sub-nav"> <a href="" style="text-decoration: none;"><span>Assign Services </span>
                        &nbsp&nbsp&nbsp&nbsp&nbsp  <i class="fa fa-caret-down"></i>
                        </a>

                        <ul id="venue-scope-options" style="display: none">
                            <li class="venue-lvl" ng-click="" >
                                <a href="" ui-sref="serviceToStaff"> Service To Staff</a>
                                <!--  <a href="" ui-sref="mip"> Service To Branch</a>-->

                            </li> 
                        </ul>
                    </li> 

                    <!--Assign Courses-->
                    <li id="assignment" class="hierarchy-menu sub-nav"> <a href="" style="text-decoration: none;"><span>Assign Course </span>
                        &nbsp&nbsp&nbsp&nbsp&nbsp  <i class="fa fa-caret-down"></i>
                        </a>

                        <ul id="venue-scope-options" style="display: none">
                            <li class="venue-lvl" ng-click="" >
                                <a href="" ui-sref="courseToBranch"> Course To Branch</a>
                                <a href="" ui-sref="courseToStaff">Course To Staff</a>

                            </li> 
                        </ul>
                    </li> 


                    <li class="venue-lvl" ng-click="" ng-class=""> <a href="" ui-sref="assignResource">Assign Resource</a> </li>
                    <li class="venue-lvl" ng-click="onImportClick()" ng-class="{'activeLink': routeName == 'import'}"> <a href="" ui-sref="import">Transfer Staff</a> </li>
                </ul>
            </li>
            <li id="enquiry" ng-show="role === user"> <a href="" ui-sref="customerFeedback"><i class="fa fa-tty" aria-hidden="true"></i> <span>Feedback</span></a> </li>
            <li id="setting"> <a href="" ui-sref="settings"><i class="fa fa-wrench" aria-hidden="true"></i> <span>Settings</span></a> </li>
        </ul>
    </section>
</aside>